.dropdown
  = button_tag class: 'btn-transp dropdown-toggle px-2 py-1', data: { toggle: 'dropdown' } do
    %h5.mb-0
      %i.fas.fa-ellipsis-v.text-white
  .dropdown-menu.dropdown-menu-right
    .dropdown-item
      = button_tag class: 'btn-transp' do
        %i.fab.fa-youtube.mr-1
        = link_to 'Watch on YouTube', player_watch_on_youtube_path(track_id: track.id), remote: true

    - if logged_in?
      .dropdown-item
        = button_tag class: 'btn-transp' do
          %i.fas.fa-comments.mr-1
          = link_to 'Send in message', track_message_modal_path(track_id: track.id), remote: true
      .dropdown-item
        = button_tag class: 'btn-transp' do
          %i.fas.fa-list-alt.mr-1
          = link_to 'Add to playlist', track_playlists_modal_path(track_id: track.id), remote: true
      .dropdown-item
        = button_tag class: 'btn-transp' do
          %i.fas.fa-arrow-right.mr-1
          = link_to 'Send to queue', player_send_to_queue_path(track_ids: [track.id]), remote: true

      - if params[:controller].downcase.include?('playlist')
        .dropdown-item
          = button_tag class: 'btn-transp' do
            %i.fas.fa-times.mr-1
            = link_to 'Delete from playlist', profiles_playlists_track_path(track_id: track.id), remote: true
      - elsif params[:controller].downcase.include?('library')
        .dropdown-item
          = button_tag class: 'btn-transp' do
            %i.fas.fa-times.mr-1
            = link_to 'Delete from library', '#', remote: true
