%h4.mg_btm_5
  = "Members (#{@group.members.count}):"

.separator.sep_10.sep_default

- if @group.members.any?

  %table.table.table-hover.table-condensed
    - @group.members.map do |member|
      %tr
        %td
          = link_to profile_path(member.id) do
            .media-left.mid_align
              = image_tag member.avatar.url(:xs), class: 'img_rnd'
            %h5.media-body.mid_align
              = member.nickname
- else

  There are no members in this group yet.
