#profile_groups.panel.center
  .panel_header

    .panel_header_left

      %h3
        %i.fas.fa-users
        Groups

    .panel_header_right

      .media-left
        %h4
          = link_to @profile.nickname, profile_path
      .media-right
        = link_to profile_path do
          = image_tag @profile.avatar.url(:sm), class: 'img_rnd img_30'

  .separator.sep_0.sep_light
  
  .panel_content

    - if @groups.any?

      %table.table.table-hover-table-condensed
        = render @groups
          
    - else
      = (current_profile?(@profile) ? "You haven't" : "#{@profile.nickname} hasn't") + ' joined any groups yet.'