%tr
  %td.text-white#track{ id: play.track_id, class: ('dark' if playing_now?(play.track_id)) }
    .media.align-items-center
      #love-btn.mr-2{ id: play.profile_track_id }
        = render 'profiles/library/tracks/love_btn', profile_track: play.profile_track
      .mr-2.list-play-btn-cover-wrap
        = render 'shared/player/list_play_btn', track_id: play.track_id
        = image_tag play.album_cover, class: 'img-sm'
      .media-body.d-flex.justify-content-between.align-items-center
        #play-data
          %h6.mb-0
            %strong
              = link_to play.track_title, profiles_library_artists_track_path(artist_name: play.artist_name, track_title: play.track_title)
          %h6.mb-0
            = link_to play.artist_name, profiles_library_artist_path(profile_id: @profile.id, artist_name: play.artist_name)
          - if play.profile_album_id.present?
            .small.mb-0
              = link_to play.album_title, profiles_library_artists_album_path(profile_id: @profile.id, artist_name: play.artist_name, album_title: play.album_title), class: 'text-muted'
          .small.d-sm-none
            = play.created_at.strftime('%e %b %Y, %H:%M')
        #play-options.d-flex.flex-row.align-items-center
          .d-none.d-sm-block
            .d-flex.flex-column.text-right.mr-2
              .small
                = play.created_at.strftime('%e %b %Y')
              .small
                = play.created_at.strftime('%H:%M')
          = render 'shared/tracks/dropdown', track: play.track

    .youtube-iframe.d-none
      = render 'shared/tracks/youtube_iframe'
