.card
  .card-body
    = render 'profiles/library/panel_header'

    %h5
      = "Plays (#{@profile.plays_count}):"

    .separator.default.my-2

    - if @plays.any?
      %table.table.table-hover.table-sm
        = render partial: 'play', collection: @plays.decorate
      = paginate @plays
    - else
      There are no plays.
