#library_artist_album_panel.panel.library_page.center
  = render 'library_artists/partials/panel_header'

  .separator.sep_0.sep_light

  .panel_content

    #library_artist_album_left.media-left
      = render partial: 'library_artists/partials/album', locals: { album: @album }

      %hr.sep_10

      .text_center
        %h5
          In your library since
        %h5
          %strong
            = l @album.created_at, format: '%e %b %Y'

    #library_artist_album_right.media-right.panel_right

      .library_artist_album_tracks_panel
        %h4
          = "Tracks (#{@album.profile_tracks.count}):"

        .separator.sep_10.sep_default

        %table.table.table-hover.table-condensed
          = render partial: 'library_artists/partials/track', collection: @tracks

      .separator.sep_20.sep_light

      .library_artist_album_plays_panel
        %h4
          = link_to "Plays (#{@album.playcount}):", library_artist_album_plays_path

        .separator.sep_10.sep_default

        %table.table.table-hover.table-condensed
          = render partial: 'library_artists/partials/play', collection: @plays.first(10)
        .text-right
          = link_to 'View more...', library_artist_album_plays_path, class: 'btn btn-primary btn-sm' if @album.playcount > 10