#library_artist_panel.panel.library_page.center
	= render 'library_artists/partials/panel_header'

	.separator.sep_0.sep_light

	.panel_content

		#library_artist_panel_left.media-left
			.artist.artist_170
				= link_to artist_path(@artist.artist.name) do
					.mg_btm_5
						= image_tag @artist.artist.artist_image, class: 'img_rnd'
					%h4
						%strong
							= @artist.artist.name
					%h5 on muffon

			%hr.sep_10

			.text_center
				%h5
					In your library since
				%h5
					%strong
						= l @artist.created_at, format: '%e %b %Y'

			%hr.sep_10

			- if @artist.taggings.any?
				.text_center
					%h5.mg_btm_5 Your tags:
					- @artist.taggings.map do |tagging|
						.inline
							= link_to tagging.tag.name, library_tag_path(name: tagging.tag.name), class: 'btn btn-primary btn-sm tag'

		#library_artist_panel_right.media-body.panel_right

			#library_artist_panel_tracks
				%h4
					= link_to "Tracks (#{@artist.profile_tracks.count}):", library_artist_tracks_path

				.separator.sep_10.sep_default

				%table.table.table-hover.table-condensed
					= render partial: 'library_artists/partials/track', collection: @tracks.limit(5)

				- if @artist.profile_tracks.count > 5
					.text_right
						= link_to 'View more...', library_artist_tracks_path, class: 'btn btn-primary btn-sm'
					
			%hr.sep_20

			#library_artist_panel_albums
				%h4
					= link_to "Albums (#{@artist.profile_albums.count}):", library_artist_albums_path

				.separator.sep_10.sep_default

				.panel_content_wide
					= render partial: 'library_artists/partials/album', collection: @albums.limit(3)

				- if @artist.profile_albums.count > 3
					.text_right
						= link_to 'View more...', library_artist_albums_path, class: 'btn btn-primary btn-sm'

			%hr.sep_20

			#library_artist_panel_plays
				%h4
					= link_to "Plays (#{@artist.playcount}):", library_artist_plays_path

				.separator.sep_10.sep_default

				%table.table.table-hover.table-condensed
					= render partial: 'library_artists/partials/play', collection: @plays.first(10)

				- if @artist.playcount > 10
					.text_right
						= link_to 'View more...', library_artist_plays_path, class: 'btn btn-primary btn-sm'