#library_artist_track_panel.panel.library_page.center
  = render 'library_artists/partials/panel_header'

  .separator.sep_0.sep_light

  .panel_content.panel_content_wide
    #library_artist_track_panel_left.inline.top_align
      %h4
        = "Albums (#{@track.profile_albums.count}):"

      .separator.sep_10.sep_default

      .albums_content
        %table.table.table-hover
          = render partial: 'library_artists/partials/album', collection: @albums.first(3)

    #library_artist_track_panel_right.inline.top_align
      %h4
        = link_to "Plays (#{@track.playcount}):", library_artist_track_plays_path

      .separator.sep_10.sep_default

      #library_artist_track_plays
        %table.table.table-hover
          = render partial: 'library_artists/partials/play', collection: @plays.first(5)
        .text-right
          = link_to 'View more...', library_artist_track_plays_path, class: 'btn btn-primary btn-sm' if @track.playcount > 5