.message-wrap.mb-2.d-flex{ class: ('flex-row-reverse' if message.sent_from(current_profile.id)) }
  .message.media#message{ id: message.id }
    - if message.new && !message.sent_from(current_profile.id)
      = hidden_field_tag :new_message_id, message.id
    .mt-1{ class: ('order-2' if message.sent_from(current_profile.id)) }
      = image_tag message.profile.avatar.url(:xs), class: 'rounded-circle'
    .media-body.card.dark.px-3.py-2.mx-2
      %h6
        = message.content

      - if message.track_ids.any?
        %table.table.table-sm
          = render partial: 'track', collection: message.tracks

      .small.text-muted
        = message.created_at.strftime('%e %b %Y, %H:%M')

  .message-status
    = render 'messages/status', new: message.new
