#new_message_panel.panel.center
  .panel_header
    %h3
      = @title

  .separator.sep_0.sep_light

  .panel_content

    .media-left
      = image_tag current_profile.avatar.url(:sm), class: 'img_rnd'

    .media-body
      = form_for @message do |f|
        = f.text_area :content, class: 'form-control', placeholder: 'Enter your message:'
        = f.hidden_field :profile_id, value: current_profile.id
        = hidden_field_tag :to, @recipient.id

        .submit_btn.text_right.mg_top_10
          = f.submit 'Send message', class: 'btn btn-primary'