#profile_compatibility.mg_btm_10

  %h5.inline.mid_align
    Your compatibility level with
    %strong
      = @profile.nickname
    is

  %svg#percentage_wrap{viewbox: '0 0 36 36'}
    %path#percentage_circle_bg{d: 'M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831'}
    %path#percentage_circle{d: 'M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831', stroke: {dasharray: "#{@compatibility_level}, 100"}}
    %text#percentage{x: '19', y: '22'}
      = @compatibility_level.to_s + '%'

%h5.mg_btm_10.inline
  You have in common:

= button_tag class: 'btn btn-primary btn-sm mg_right_5', data: {toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true, content: "#{render 'profiles/common_tooltips/artists'}"} do
  %strong
    = @common_artists.count
  = 'artist'.pluralize(@common_artists.count)
  = fa_icon 'caret-down'

= button_tag class: 'btn btn-primary btn-sm mg_right_5', data: {toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true, content: "#{render 'profiles/common_tooltips/albums'}"} do
  %strong
    = @common_albums.count
  = 'album'.pluralize(@common_albums.count)
  = fa_icon 'caret-down'

= button_tag class: 'btn btn-primary btn-sm mg_right_5', data: {toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true, content: "#{render 'profiles/common_tooltips/tracks'}"} do
  %strong
    = @common_tracks.count
  = 'track'.pluralize(@common_tracks.count)
  = fa_icon 'caret-down'

= button_tag 'View more...', class: 'btn btn-default btn-sm'
