.d-flex.align-items-center
  %h6.mb-0.mr-2
    Your compatibility level with
    %strong
      = @profile.nickname
    is

  %svg#compatibility{ viewBox: '0 0 36 36' }
    %path#compatibility-percent-background-circle{ d: 'M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831', 'stroke-dasharray': "100, 100" }
    %path#compatibility-percent-circle{ d: 'M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831', 'stroke-dasharray': "#{@compatibility_percent}, 100" }
    %text#compatibility-text{ x: '18.5', y: '22.5' }
      = "#{@compatibility_percent}%"

%h6
  You have in common:

.d-inline
  = button_tag class: 'btn btn-primary btn-sm', data: { toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true, content: "#{render 'profiles/common_tooltips/artists'}" } do
    %strong
      = @common_artists.count
    = 'artist'.pluralize(@common_artists.count)

.d-inline
  = button_tag class: 'btn btn-primary btn-sm', data: { toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true, content: "#{render 'profiles/common_tooltips/albums'}" } do
    %strong
      = @common_albums.count
    = 'album'.pluralize(@common_albums.count)

.d-inline
  = button_tag class: 'btn btn-primary btn-sm', data: { toggle: 'popover', trigger: 'focus', placement: 'bottom', html: true, content: "#{render 'profiles/common_tooltips/tracks'}" } do
    %strong
      = @common_tracks.count
    = 'track'.pluralize(@common_tracks.count)

.d-inline
  = button_tag 'View more...', class: 'btn btn-light btn-sm'
