.album.inline.text_center
	- if profile_album.album
		- if params[:action] == 'album'
			= link_to(artist_album_path(id: profile_album.artist.name, album_id: profile_album.album.title)) do
				- if profile_album.album.cover
					.album_cover= image_tag ((profile_album.album.cover != '') ? profile_album.album.cover : 'missing_album.png')
				- else
					.album_cover= image_tag 'missing_album.png'
				%h4
					%strong= profile_album.album.title
				%h5
					%strong= profile_album.album.artist.name
				%h5 on muffon
		- else
			= link_to(library_album_path(id: @profile.id, album_id: profile_album.id)) do
				- if profile_album.album.cover
					.album_cover= image_tag ((profile_album.album.cover != '') ? profile_album.album.cover : 'missing_album.png')
				- else
					.album_cover= image_tag 'missing_album.png'
				%h4
					%strong= profile_album.album.title
			- if params[:action] == 'library' || params[:action] == 'albums' || params[:action] == 'album'
				= link_to(library_artist_path(id: @profile.id, artist_id: profile_album.profile_artist.id)) do
					%h5
						%strong= profile_album.album.artist.name 
			= link_to(library_album_plays_path(id: @profile.id, album_id: profile_album.id)) do
				%h5= pluralize(profile_album.count, 'play')