%tr
	%td
		.profile_track
			- unless params[:action] == 'artist' || params[:action] == 'artist_tracks' || params[:action] == 'album'
				.media-left
					.track_cover= image_tag profile_track.track.artist.image if profile_track.track.artist.image
			.media-body
				- if profile_track.loved?
					= fa_icon 'heart', style: 'color:red'
				- else
					= fa_icon 'heart-o'
				%h5
					%strong= profile_track.track.title
				%br
				- unless params[:action] == 'artist' || params[:action] == 'artist_tracks' || params[:action] == 'album'
					%h5= link_to "#{profile_track.track.artist.name}", library_artist_path(id: @profile.id, artist_id: profile_track.profile_artist.id)
					%br
				%h5= pluralize(profile_track.count, 'play')