.nav-pills.flex-column.mr-4.d-none.d-sm-block.scrollspy
  = link_to '#plays', class: 'nav-link' do
    %i.fas.fa-play.mr-1.icon-centered
    Plays
  = link_to '#library', class: 'nav-link' do
    %i.fas.fa-headphones.mr-1.icon-centered
    Library
  = link_to '#playlists', class: 'nav-link' do
    %i.fas.fa-list-alt.mr-1.icon-centered
    Playlists
  = link_to '#groups', class: 'nav-link' do
    %i.fas.fa-users.mr-1.icon-centered
    Groups
  = link_to '#board', class: 'nav-link' do
    %i.fas.fa-edit.mr-1.icon-centered
    Board
