#library_albums_panel.panel.panel-default.library_page.center
	.panel_header_sm
		%h3.panel_header_sm_body= "#{@profile.nickname}'s albums"
		.scopes.inline.pull-right.panel_header_sm_body
			.dropdown.inline
				.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
					#albums_scope= render 'albums_scope'
				%ul.dropdown-menu.dropdown-menu-right
					%li= link_to 'Most played', change_albums_scope_path(scope: 'count desc'), remote: true
					%li= link_to 'Least played', change_albums_scope_path(scope: 'count asc'), remote: true
					%li= link_to 'Newest', change_albums_scope_path(scope: 'created_at desc'), remote: true
					%li= link_to 'Oldest', change_albums_scope_path(scope: 'created_at asc'), remote: true
	#library_albums_panel_content.panel_wider_content
		#albums= render partial: 'profile_album', collection: @albums
		= will_paginate @albums if @albums.count > 20