.profile_library.center
	#profile_album_info_panel.panel.panel-default
		.panel_header
			= image_tag @album.album.artist.image
			%h3= "#{@album.album.artist.name} - #{@album.album.title} in #{@profile.nickname}'s library"
		%hr
		#profile_album_info
			.media-left
				= render partial: 'profile_album', locals: {profile_album: @album}
			.media-body#prof_alb_info
				#prof_alb_tr
					%h4.panel_header_sm= pluralize(@album.profile_tracks.count, 'track')
					%table.table.table-hover.table-condensed
						= render partial: 'profile_track', collection: @tracks
				%hr
				#prof_alb_pl
					%h4.panel_header_sm= link_to pluralize(@album.count, 'play'), library_album_plays_path(@profile)
					%table.table.table-hover.table-condensed
						= render partial: 'profile_play', collection: @plays
					= link_to 'View more...', library_album_plays_path(@profile) if @album.plays.count > 10