#library_artist_album_panel.panel.panel-default.library_page.center
	= render 'panel_header'
	.library_artist_album.panel_wider_content
		.library_artist_album_left.media-left
			= render partial: 'profile_album', locals: {profile_album: @album}
		.library_artist_album_right.media-body
			.library_artist_album_tracks_panel
				.panel_header_xs
					%h4= pluralize(@tracks.count, 'track')
				.library_artist_album_tracks
					%table.table.table-hover.table-condensed
						= render partial: 'profile_track', collection: @tracks
			%hr
			.library_artist_album_plays_panel
				.panel_header_xs
					%h4= link_to pluralize(@album.plays.count, 'play'), library_album_plays_path(@profile)
				.library_artist_album_plays
					%table.table.table-hover.table-condensed
						= render partial: 'profile_play', collection: @plays
					.view_more
						%h5= link_to 'View more...', library_album_plays_path(@profile) if @album.plays.count > 10