.profile_library.center
	#profile_artist_albums_panel.panel.panel-default
		.panel_header
			= image_tag @artist.artist.image
			%h3= "#{@artist.artist.name} albums in #{@profile.nickname}'s library"
		.panel_content
			- @albums.map do |profile_album|
				= render partial: 'profile_album', locals: {profile_album: profile_album}