#library_artist_panel.panel.panel-default.library_page.center
	.panel_header
		%h3= "#{@artist.artist.name} in #{@profile.nickname}'s library"
	#library_artist_panel_content.panel_wider_content
		#library_artist_panel_left.media-left
			= render partial: 'profile_artist', locals: {profile_artist: @artist}
		#library_artist_panel_right.media-body
			#library_artist_panel_tracks
				.panel_header_xs
					%h4= link_to pluralize(@artist.profile_tracks.count, 'tracks'), library_artist_tracks_path(@profile)
				#library_artist_panel_tracks_content
					%table.table.table-hover.table-condensed
						= render partial: 'profile_track', collection: @tracks
					.text_right= link_to 'View more...', library_artist_tracks_path(@profile) if @artist.profile_tracks.count > 5
			%hr
			#library_artist_panel_albums
				.panel_header_xs
					%h4= link_to "#{@artist.profile_albums.count} albums", library_artist_albums_path(@profile)
				#library_artist_panel_albums_content.panel_wider_content
					= render partial: 'profile_album', collection: @albums
					.text_right= link_to 'View more...', library_artist_albums_path(@profile) if @artist.profile_albums.count > 3
			%hr
			#library_artist_panel_plays
				.panel_header_xs
					%h4= link_to pluralize(@artist.count, 'play'), library_artist_plays_path(@profile)
				#library_artist_panel_plays_content
					%table.table.table-hover.table-condensed
						= render partial: 'profile_play', collection: @plays
					.text_right= link_to 'View more...', library_artist_plays_path(@profile) if @artist.plays.count > 5