.library_artist_tracks_panel.panel.panel-default.profile_library.center
	.panel_header
		= image_tag @artist.artist.image
		%h3= "#{@artist.artist.name} tracks in #{@profile.nickname}'s library"
	.library_artist_tracks.panel_content
		%table.table.table-hover.table-condensed#profile_artist_tracks
			= render partial: 'profile_track', collection: @tracks
		= will_paginate @tracks if @tracks.count > 20