.profile_library.center
	#profile_artists_panel.panel.panel-default
		.panel_header
			%h3= "#{@profile.nickname}'s artists"
			.scopes
				.dropdown
					.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
						#artists_scope= render 'artists_scope'
					%ul.dropdown-menu.dropdown-menu-right
						%li= link_to 'Most played', change_artists_scope_path(scope: 'count desc'), remote: true
						%li= link_to 'Least played', change_artists_scope_path(scope: 'count asc'), remote: true
						%li= link_to 'Newest', change_artists_scope_path(scope: 'created_at desc'), remote: true
						%li= link_to 'Oldest', change_artists_scope_path(scope: 'created_at asc'), remote: true
		.panel_content#profile_artists
			= render partial: 'profile_artist', collection: @artists