#library_page.profile_library.center
	- if @profile.profile_tracks.any?
		#top_artists_panel.panel.panel-default
			.panel_header
				%h3= link_to 'Top artists', library_artists_path(@profile)
				.scopes
					.dropdown
						.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
							#top_artists_scope= render partial: 'top_artists_scope', locals: {message: 'Show by a period:'}
						%ul.dropdown-menu.dropdown-menu-right
							%li= link_to '1 week', library_path(artists_scope: 7), remote: true
							%li= link_to '1 month', library_path(artists_scope: 30), remote: true
							%li= link_to '3 months', library_path(artists_scope: 90), remote: true
							%li= link_to '6 months', library_path(artists_scope: 180), remote: true
							%li= link_to '1 year', library_path(artists_scope: 365), remote: true
							%li= link_to 'All time', library_path(artists_scope: 0), remote: true
					- if current_profile?(@profile)
						.dropdown
							.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
								#top_artists_default_scope= render partial: 'top_artists_scope', locals: {message: 'Default scope:'}
							%ul.dropdown-menu.dropdown-menu-right
								%li= link_to '1 week', library_path(artists_default_scope: 7), remote: true, method: :patch
								%li= link_to '1 month', library_path(artists_default_scope: 30), remote: true, method: :patch
								%li= link_to '3 months', library_path(artists_default_scope: 90), remote: true, method: :patch
								%li= link_to '6 months', library_path(artists_default_scope: 180), remote: true, method: :patch
								%li= link_to '1 year', library_path(artists_default_scope: 365), remote: true, method: :patch
								%li= link_to 'All time', library_path(artists_default_scope: 0), remote: true, method: :patch
			.panel_content#top_artists
				= render partial: 'profile_artist', collection: @top_artists
			= link_to 'View more...', library_artists_path(@profile)
		#top_albums_panel.panel.panel-default
			.panel_header
				%h3= link_to 'Top albums', library_albums_path(@profile)
				.scopes
					.dropdown
						.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
							#top_albums_scope= render partial: 'top_albums_scope', locals: {message: 'Show by a period:'}
						%ul.dropdown-menu.dropdown-menu-right
							%li= link_to '1 week', library_path(albums_scope: 7), remote: true
							%li= link_to '1 month', library_path(albums_scope: 30), remote: true
							%li= link_to '3 months', library_path(albums_scope: 90), remote: true
							%li= link_to '6 months', library_path(albums_scope: 180), remote: true
							%li= link_to '1 year', library_path(albums_scope: 365), remote: true
							%li= link_to 'All time', library_path(albums_scope: 0), remote: true
					- if current_profile?(@profile)
						.dropdown
							.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
								#top_albums_default_scope= render partial: 'top_albums_scope', locals: {message: 'Default scope:'}
							%ul.dropdown-menu.dropdown-menu-right
								%li= link_to '1 week', library_path(albums_default_scope: 7), remote: true
								%li= link_to '1 month', library_path(albums_default_scope: 30), remote: true
								%li= link_to '3 months', library_path(albums_default_scope: 90), remote: true
								%li= link_to '6 months', library_path(albums_default_scope: 180), remote: true
								%li= link_to '1 year', library_path(albums_default_scope: 365), remote: true
								%li= link_to 'All time', library_path(albums_default_scope: 0), remote: true
			.panel_content#top_albums
				= render partial: 'profile_album', collection: @top_albums
			= link_to 'View more...', library_albums_path(@profile)
		#top_tracks_panel.panel.panel-default
			.panel_header
				%h3= link_to 'Top tracks', library_tracks_path(@profile)
			%table.table.table-hover.table-condensed
				= render partial: 'profile_track', collection: @top_tracks
			= link_to 'View more...', library_tracks_path(@profile)
		#new_loved_tracks
			#loved_tracks.panel.panel-default
				.panel_header
					%h3
						= fa_icon 'heart-o'
						= "Loved tracks (#{@profile.loved_tracks.count})"
				%table.table.table-hover.table-condensed
					- @loved_tracks.map do |t|
						%tr
							%td.profile_track
								.media-left.track_cover= image_tag t.track.artist.image if t.track.artist.image
								.media-body
									%h5.created_at= l t.created_at, format: "%e %b %Y, %H:%M"
									= fa_icon 'heart', style: 'color: red'
									%h5
										%strong= t.track.title
									%br
									%h5= t.track.artist.name
			#new_tracks.panel.panel-default
				.panel_header
					%h3
						= fa_icon 'plus'
						= "New tracks (#{@profile.profile_tracks.count})"
				%table.table.table-hover.table-condensed
					- @new_tracks.map do |t|
						%tr
							%td.profile_track
								.media-left.track_cover= image_tag t.track.artist.image if t.track.artist.image
								.media-body
									%h5.created_at= l t.created_at, format: "%e %b %Y, %H:%M"
									%h5
										%strong= t.track.title
									%br
									%h5= t.track.artist.name
		#recent_tracks.panel.panel-default
			.panel_header
				%h3
					= fa_icon 'clock-o'
					= link_to "Recent tracks (#{@profile.plays.count})", library_plays_path(@profile)
			%table.table.table-hover.table-condensed
				= render partial: 'profile_play', collection: @plays
			= link_to "View more...", library_plays_path(@profile)
		#profile_tags.panel.panel-default
			.panel_header
				%h3
					= fa_icon 'tags'
					= "Tags (#{@profile.profile_tags.count})"
			- @top_tags.map do |t|
				= t.tag.name
				= t.count
	- else
		.panel.panel-default Your library is empty.