- if @profile.errors.any?
	= render 'shared/error_messages'
%h4 Sign up
= form_for @profile, url: signup_path do |f|
	= f.text_field :nickname, class: 'form-control', placeholder: 'Nickname:'
	= f.email_field :email, class: 'form-control', placeholder: 'Email:'
	= f.password_field :password, class: 'form-control', placeholder: 'Password:'
	= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password:'

	= f.submit 'Sign up', class: 'btn btn-primary'