#profile_page

  #profile_page_panel.center.panel

    #profile_info_panel.panel_content

      #profile_info_left.media-left

        #profile_avatar.mg_btm_10
          = image_tag @profile.avatar.url(:md), class: 'img_rnd'

        - if logged_in? && !current_profile?(@profile)

          #profile_actions.text-center

            #follow_button.mg_btm_5{id: @profile.id}
              = render 'relationships/follow_button', profile: @profile

            = link_to 'Write a message', new_message_path(to: @profile), class: 'btn btn-primary btn-sm'

      #profile_info_right.media-right.full_width

        %h3
          = @profile.nickname

        .separator.sep_10.sep_light

        - if @profile.gender.present? || @profile.name.present? || @profile.country.present? || @profile.city.present?

          - if @profile.gender.present?

            %h5.inline
              = fa_icon (@profile.gender == 'Male' ? 'male' : 'female')

          - if @profile.name.present?

            %h5.inline
              = @profile.name

          - if @profile.country.present? || @profile.city.present?

            %h5.inline
              = fa_icon 'globe' 
              = @profile.city
              = @profile.country

        - else

          %h5.text-muted.mg_btm_5

            No personal information provided.

        - if @profile.plays.any?

          %h5
            Listening since
            %strong
              = l @profile.plays.last.created_at, format: '%e %b %Y'

          .mg_top_10.inline

            .inline
              = link_to library_plays_path, class: 'btn btn-sm btn-primary' do
                %strong
                  = @profile.plays.count
                = 'play'.pluralize(@profile.plays.count)

            .inline
              = link_to library_tracks_path, class: 'btn btn-sm btn-primary' do
                %strong
                  = @profile.tracks.count
                = 'track'.pluralize(@profile.tracks.count)

            .inline
              = link_to library_artists_path, class: 'btn btn-sm btn-primary' do
                %strong
                  = @profile.artists.count
                = 'artist'.pluralize(@profile.artists.count)

            .inline
              = link_to library_path, class: 'btn btn-default btn-sm' do
                = fa_icon 'music'
                Go to Library

        - if logged_in? && !current_profile?(@profile)

          .separator.sep_10.sep_default
      
          = render 'common'

    %hr.sep_0

    %ul.nav.nav-tabs.panel_content
      %li.active
        %a{href: '#home', data:{toggle: 'tab'}}
          %h4
            Home
      %li
        %a{href: '#tops', data:{toggle: 'tab'}}
          %h4
            Tops

    %hr.sep_0

    .tab-content

      #home.tab-pane.in.active

        #profile_page_wall_panel.panel_content

          %h4
            Wall:

          .separator.sep_10.sep_default

          = current_profile?(@profile) ? "You don't" : "#{@profile.nickname} doesn't"
          have any posts on the wall yet.

        #profile_page_playing_now_plays_panel.panel_content

          #profile_page_playing_now_track{id: @profile.id}

            = render 'playing_now_track'

          %hr.sep_20

          #profile_page_plays_panel

            %h4
              = link_to 'Recently played:', library_plays_path

            .separator.sep_10.sep_default
            
            = render 'library/partials/plays'

      #tops.tab-pane.panel_content

        #profile_page_library_panel

          %ul.nav.nav-tabs.mg_btm_20
            %li.active
              %a{href: '#artists', data:{toggle: 'tab'}}
                %h4
                  Top artists
            %li
              %a{href: '#albums', data:{toggle: 'tab'}}
                %h4
                  Top albums
            %li
              %a{href: '#tracks', data:{toggle: 'tab'}}
                %h4
                  Top tracks

          .tab-content

            #artists.tab-pane.in.active
              = render 'library/partials/artists'

            #albums.tab-pane
              = render 'library/partials/albums'

            #tracks.tab-pane
              = render 'library/partials/tracks'
