.media.justify-content-between.align-items-center
  .media
    .mr-2
      = image_tag @album.cover, class: 'img-sm'
    .media-body
      %h5.mb-0
        = @album.title
      %h6
        = link_to @artist.name, profiles_library_artist_path

  .media
    .mr-2
      = image_tag @profile.avatar.url(:xs), class: 'rounded-circle'
    .media-body
      %h5.mb-1
        = link_to @profile.nickname, @profile

%hr.my-3
