%tr
  %td{id: "track_#{play.track.id}", class: ('list_playing_now_track' if playing_now_track_id == play.track.id)}

    .media-left

      .list_play_button.no_padding{class: ('play_button' unless %w[album album_plays].include?(params[:action]))}

        - if playing_now_track_id == play.track.id
          = render 'player/list_play_button'
        - else
          = button_to play_path(artist: @artist.artist.artist_name, track: play.track.track_title), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get, onclick: 'loadTrack(this)' do
            %i.fas.fa-play

      - unless %w[album album_plays].include?(params[:action])
        = image_tag (play.album.present? ? play.album.album_cover : 'missing_album.png'), class: 'img_30'

    .media-body.mid_align

      .track_options

        .created_at
          %h6
            = l play.created_at, format: "%e %b %Y"
          %h6
            = l play.created_at, format: "%H:%M"

        = render 'muffon/track_dropdown', track: play.track

      %h5
        - if play.profile_track.loved?
          %i.fas.fa-heart{style: 'color: red'}
        - else
          %i.far.fa-heart
        %strong
          = link_to play.track.title, library_artist_track_path(title: play.track.track_title)

      - if play.album.present? && %w[album album_plays].exclude?(params[:action])
        %h5.text-muted
          = link_to play.album.album_title, library_artist_album_path(id: @profile.id, name: play.artist.artist_name, title: play.album.album_title)
