.flash_msg
  = render 'muffon/flash_messages'

= form_for :session, url: login_path, remote: true do |f|

  = f.email_field :email, class: 'input_transp w-100', placeholder: 'Email:'
  = f.password_field :password, class: 'input_transp w-100', placeholder: 'Password:'

  .mg_top_10.mg_btm_10.media

    .mr-2
      = f.check_box :remember_me

    .media-body
      = f.label :remember_me, 'Remember me'

  = f.submit 'Log in', class: 'btn btn-primary btn-block'
