.up.media
  = image_tag @profile.avatar.url(:sm)
  .media-body
    = link_to "#{@profile.nickname}", profile_path

.up.media
  .media-body
    %i.fas.fa-headphones
    = link_to 'Library', profiles_library_path
  
- if params[:action] == 'artists'

  .up.media
    .media-body
      %i.fas.fa-user
      = link_to 'Artists', profiles_library_artists_path

- elsif params[:action] == 'albums'

  .up.media
    .media-body
      %i.fas.fa-dot-circle
      = link_to 'Albums', profiles_library_albums_path

- elsif params[:action] == 'tracks'

  .up.media
    .media-body
      %i.fas.fa-music
      = link_to 'Tracks', profiles_library_tracks_path

  - if params[:show] == 'loved'

    .up.media
      .media-body
        %i.fas.fa-heart
        = link_to 'Loved', profiles_library_tracks_path(show: 'loved')

- elsif params[:action] == 'plays'

  .up.media
    .media-body
      %i.fas.fa-play
      = link_to 'Plays', profiles_library_plays_path
