#login-flash-msg
  = render 'partials/flash_messages'

= form_for :session, url: login_path, html: { class: 'row no-gutters align-items-center' }, remote: true do |f|

  = f.label :email, 'Email:', class: 'col-12 col-sm-3 mb-sm-2'
  .col-12.col-sm-9
    = f.email_field :email, class: 'input-transp mb-2', required: true, autofocus: true

  = f.label :password, 'Password:', class: 'col-12 col-sm-3 mb-sm-3'
  .col-12.col-sm-9
    = f.password_field :password, class: 'input-transp mb-3', required: true

  .media.mb-3
    .mr-2
      = f.check_box :remember_me
    .media-body
      = f.label :remember_me, 'Remember me'

  = f.submit 'Log in', class: 'btn btn-light btn-block'
