.artist_actions

	- if params[:controller] == 'recommendations'

		.rec_delete.artist_action
			= button_to delete_recommendation_path(artist_id: artist.id), method: :patch, remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: 'Delete', class: 'rec_del_btn' do
				= fa_icon 'times'

	.artist_library_sq.artist_action#artist_library{id: artist.id}
		= render 'artists/library_btn', artist: artist

	.artist_bookmark_sq.artist_action#artist_bookmark{id: artist.id}
		= render 'artists/bookmark_btn', artist: artist

	.artist_listened_sq.artist_action#artist_listened{id: artist.id}
		= render 'artists/listened_btn', artist: artist