.album.album_170.mg_btm_20

	- if params[:action].in?(%w[show albums])

		= link_to artist_album_path(name: @artist.artist_name, title: album.album_title) do
			= image_tag album.album_cover
			%h5
				%strong
					= album.title

	- else

		= image_tag album.album_cover
		%h5
			%strong
				= album.title

	%h5
		%i.fas.fa-music
		= number_with_delimiter(album.playcount)
