.album.album_170.mg_btm_20
	- if params[:action] == 'show' || params[:action] == 'albums'
		= link_to artist_album_path(name: (params[:name].include?('/') ? CGI.escape(params[:name]) : params[:name]), title: (album['name'].include?('/') ? CGI.escape(album['name']) : album['name'])) do
			= image_tag ((album['image'][2]['#text'] != '') ? album['image'][2]['#text'] : 'missing_album.png')
			%h5
				%strong
					= album['name']
	- else
		= image_tag (album['image'][2]['#text'].present? ? album['image'][2]['#text'] : 'missing_album.png')
		%h5
			%strong
				= album['name']
	%h5
		= fa_icon 'music'
		= number_with_delimiter(album['playcount'])