- if current_profile.listened_to?(artist_name)
	.artist_listened_content{style: 'background-color: #563c8a'}
		.artist_checked
			= button_to listened_path(a_id: a_id, artist_name: artist_name, destroy: 1), method: :delete, remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Listened", class: 'inv_btn' do
				= fa_icon 'check'
- else
	.artist_listened_content
		.check_artist
			= button_to listened_path(a_id: a_id, artist_name: artist_name, create: 1), remote: true, data: {toggle: 'tooltip', placement: 'bottom'}, title: "Mark as listened", class: 'inv_btn' do
				= fa_icon 'check'
				.plus_small.inline= fa_icon 'plus'

				