%tr
  %td
    .media-left.mid_align

      = link_to listener do
        = image_tag listener.avatar.url(:sm), class: 'img_rnd'

    .media-body.mid_align

      %h4.inline.mg_btm_5
        = link_to listener.nickname, listener

      - if current_profile?(listener)

        %h5.inline (that's you)

      - if logged_in? && !current_profile?(listener)

        %br

        .inline#follow_button{id: listener.id}

          = render 'relationships/follow_button', profile: listener

        .inline

          = link_to 'Write a message', new_message_path(to: listener.id), class: 'btn btn-sm btn-primary'

      %h4
        = listener.profile_artists.find_by(artist_id: @artist.id).playcount
        plays
