.similar_artist.text_center

	#similar_up.artist.artist_190
		= render 'actions', artist: similar_artist
		= link_to artist_path(similar_artist.artist_name) do
			.mg_btm_5
				= image_tag similar_artist.artist_image, class: 'img_rnd'
			%h4.mg_btm_5
				%strong
					= similar_artist.name

	#similar_down

		#similar_stats.mg_btm_10

			%h4.inline
				= fa_icon 'user'
				= number_with_delimiter(similar_artist.listeners)
			%h4.inline
				= fa_icon 'music'
				= number_with_delimiter(similar_artist.playcount)

		#similar_tags.mg_btm_5
			- similar_artist.artist_tags.first(5).each do |tag|
				= link_to tag.name, '#', class: 'btn btn-primary btn-sm tag mg_btm_5'

	%hr.sep_10.sep_default

	#similar_bio
		= similar_artist.description&.html_safe&.truncate_words(50)