.similar{id: index + 1}
	.similar_image_name
		= render 'actions', artist_name: artist['name'], image: artist['image'][3]['#text'], a_id: index + 1
		= link_to artist_path(artist['name'].include?('/') ? CGI.escape(artist['name']) : artist['name']) do
			.similar_image.artist_image= image_tag artist['image'][3]['#text']
			%h4.similar_name.similar_info_body
				%strong= artist['name']
	.similar_info
		- data = JSON.parse(open("http://ws.audioscrobbler.com/2.0/?method=artist.getinfo&artist=#{(artist['name'].include?('%2F') ? artist['name'] : CGI.escape(artist['name']))}&api_key=#{ENV["LASTFM_KEY"]}&format=json").read)['artist']
		.similar_stats.similar_info_body
			%h5.similar_stat
				= fa_icon 'user'
				= number_with_delimiter(data['stats']['listeners'])
			%h5.similar_stat
				= fa_icon 'music'
				= number_with_delimiter(data['stats']['playcount'])
		.similar_tags.similar_info_body
			- data['tags']['tag'].each do |tag|
				.similar_tag.label.label-primary= tag['name']
		.similar_bio
			= data['bio']['summary'].html_safe.truncate_words(50)