- t = Track.where(title: track['name'], artist_id: Artist.find_by(name: track['artist']['name']).id).first_or_create

%tr
  %td{id: "track_#{t.id}", class: ('list_playing_now_track' if playing_now_track&.id == t.id)}
    .media-left.mid_align
      .list_play_button
        = render 'player/get_track_button', track: t
    .media-body.mid_align
      %h5
        %strong
          = track['name']
      - if track['playcount'].present?
        .inline.track_bar{style: "width: #{width_of(track) + 2}%"}
        .inline.mid_align
          = number_with_delimiter(track['playcount'])