#album_tags_page.artist_page.panel.center
  .panel_header
    %h3
      .media-left.mid_align
        = image_tag @album.album_cover, class: 'img_50'
      .media-right.mid_align
        %h3
          = link_to @album.title, artist_album_path
        %h4
          = link_to @artist.name, artist_path

  .separator.sep_0.sep_light

  .panel_content

    %h4
      %i.fas.fa-tags
      Tags:

    .separator.sep_10.sep_default

    - @tags.map do |tag|
      .inline
        = link_to tag_path(name: tag.name), class: 'btn btn-primary btn-sm tag' do
          %strong
            = tag.name
