#artist_albums_page.artist_page.panel.center
  .panel_header
    %h3
      .media-left.mid_align
        = image_tag @artist.artist_image, class: 'img_rnd img_50'
      .media-right.mid_align
        = link_to @artist.name, artist_path

  .separator.sep_0.sep_light

  .artist_albums_page_albums.panel_content

    %h4 Albums:

    .separator.sep_10.sep_default

    .panel_content_wide
      = render partial: 'album', collection: @albums

    .text_center.mg_top_10
      .btn-group
        = link_to_prev_page @albums, '< Previous', class: 'btn btn-primary'
        = link_to_next_page @albums, 'Next >', class: 'btn btn-primary' unless @albums.count < 20