#artist_album_page.artist_page.panel.panel-default.center
	#artist_album_page_main.panel_content
		#artist_album_page_image.media-left.album_cover= image_tag (@album_cover != '' ? @album_cover : 'missing_album.png')
		#artist_album_page_info.media-body
			#artist_album_page_info_title
				%h3= @album['name']
				%h4= link_to @album['artist'], artist_path
			#artist_album_page_info_tags
				- @album['tags']['tag'].map do |t|
					.artist_album_page_info_tag.label.label-primary= t['name']
			#artist_album_page_info_listens
				%h4.inline
					= fa_icon 'user'
					= number_with_delimiter(@album['listeners'])
				%h4.inline
					= fa_icon 'music'
					= number_with_delimiter(@album['playcount'])
			%hr
			- if @album['wiki']
				#artist_album_page_info_wiki
					%h5= @album['wiki']['summary'].html_safe 
					%hr
			-# - if @spotify_album_uri
			-# 	%iframe.spotify_player{src: "https://open.spotify.com/embed?uri=#{@spotify_album_uri}", width:"400", height:"410", frameborder:"0", allowtransparency:"true"}
			- if @tracks 
				%table.table.table-hover.table-condensed#artist_album_page_tracks
					= render partial: 'track', collection: @tracks, locals: {artist_name: params[:id]}
			-# %iframe{border: "0", width: "400px", height: "373px", src:"https://bandcamp.com/EmbeddedPlayer/album=#{4009021029}/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/"}

:javascript
	$('.album_cover').click(function(){
		$('.album_cover img').css('width', '300px')
	});