.card
  .card-body
    = render 'panel_header'

    %h5
      %i.fas.fa-images
      Images:

    .separator.default.my-2

    .row
      - @images.each do |image|
        .col-6.col-sm-4.col-md-3
          .clickable{ data: { toggle: 'modal', target: "#image_modal_#{image.split('/').last}" } }
            .mb-4
              = image_tag image.gsub('/avatar170s', '/avatar300s'), class: 'img-fluid'

          #image_modal.modal.image-modal{id: image.split('/').last}
            .modal-dialog
              = image_tag image.gsub('/avatar170s', ''), class: 'img-fluid'

    %nav
      %ul.pagination
        - if params[:page].to_i > 1
          %li.page-item
            = link_to_prev_page @images, '< Prev', class: 'page-link'
        - if @images.length == 40
          %li.page-item
            = link_to_next_page @images, 'Next >', class: 'page-link'
