#artist_page_panel.artist_page.panel.panel-default.center
	#artist_page_main.panel_content
		#artist_page_image.media-left
			.artist_image.img_rnd
				= render 'actions', artist_name: @artist['name'], image: @artist_image, a_id: 0
				= image_tag ((@artist_image != '') ? @artist_image : 'missing_artist.png')
		#artist_page_info.media-body
			%h3#artist_page_info_name= @artist['name']
			#artist_page_info_tags
				- @artist['tags']['tag'].map do |t|
					.artist_page_info_tag.label.label-primary= t['name']
			#artist_page_info_listens
				%h4.inline
					= fa_icon 'user'
					= number_with_delimiter(@artist['stats']['listeners'])
				%h4.inline
					= fa_icon 'music'
					= number_with_delimiter(@artist['stats']['playcount'])
			%hr
			#artist_page_info_bio
				%h5= @artist['bio']['summary'].html_safe
	%hr
	#artist_page_music.panel_content
		#artist_page_tracks.inline.top_align
			.panel_header_xs
				%h4= link_to 'Top tracks:', artist_tracks_path(@artist['name'].include?('/') ? CGI.escape(@artist['name']) : @artist['name'])
			%table.table.table-hover.table-condensed#artist_page_tracks_content
				- @tracks.map do |t|
					-# - if @spotify_tracks.find{|s| s['name'].downcase.start_with?(t['name'].downcase)}
					-# 	%tr
					-# 		%td
					-# 			%iframe.spotify_player{src: "https://open.spotify.com/embed?uri=#{@spotify_tracks.find{|s| s['name'].downcase.start_with?(t['name'].downcase)}['uri']}", width:"350", height:"80", frameborder:"0", allowtransparency:"true"}
					= render partial: 'track', locals: {track: t, artist_name: @artist['name']}
			.text_right= link_to 'View more...', artist_tracks_path(id: @artist['name']) if @tracks.count > 10
		#artist_page_albums.inline.top_align
			.panel_header_xs
				%h4= link_to 'Top albums:', artist_albums_path(@artist['name'].include?('/') ? CGI.escape(@artist['name']) : @artist['name'])
			#artist_page_albums_content
				= render partial: 'album', collection: @albums 
			.text_right= link_to 'View more...', artist_albums_path(id: @artist['name']) if @albums.count > 4
	%hr
	#artist_page_similars.panel_content
		.panel_header_xs
			%h4= link_to 'Similar artists:', artist_similar_path
		#artist_page_similars_content
			- @artist['similar']['artist'].first(4).each_with_index do |a, index|
				.artist_page_similar.inline.text_center.top_align#artist_page_similar{id: index + 1}
					.artist_page_similar_inner
						= render 'actions', artist_name: a['name'], a_id: index + 1, image: a['image'][2]['#text']
						= link_to artist_path(a['name']) do
							.artist_image.img_rnd
								= image_tag ((a['image'][2]['#text'] != '') ? a['image'][2]['#text'] : 'missing_artist.png')
							%h4
								%strong= a['name']
		.text_right= link_to 'View more...', artist_similar_path if @artist['similar']['artist'].count > 4