.artist_page.artist_tracks_page.panel.panel-default.center
	.panel_header
		%h3
			= link_to @artist_name, artist_path
			tracks
	.artist_tracks_page_tracks.panel_content
		%table.table.table-hover.table-condensed
			- @tracks.map do |t|
				-# - if @spotify_tracks.find{|s| s['name'].downcase.start_with?(t['name'].downcase)}
				-# 	%tr
				-# 		%td
				-# 			%iframe.spotify_player{src: "https://open.spotify.com/embed?uri=#{@spotify_tracks.find{|s| s['name'].downcase.start_with?(t['name'].downcase)}['uri']}", width:"700", height:"80", frameborder:"0", allowtransparency:"true"}
				= render partial: 'track', locals: {track: t, artist_name: @tracks.first['artist']['name']}
		.view_more
			%h5
				= link_to 'Previous page', artist_tracks_path(page: params[:page].to_i-1) if params[:page] && params[:page].to_i > 1
				= link_to 'Next page', artist_tracks_path(page: (params[:page] ? params[:page].to_i+1 : 2)) if params[:page].to_i < @total_pages.to_i && !@tracks.empty? && @tracks.count > 50

- console