.album.album_170.mg_btm_20
	= link_to profiles_library_artist_album_path(id: @profile.id, name: album.artist.name, title: album.album.album_title) do
		= image_tag album.album.album_cover
		%h4
			%strong
				= album.album.title
	%h5
		= link_to profiles_library_artist_path(id: @profile.id, name: album.artist.name) do
			%strong
				= album.artist.name 
	%h5
		= link_to pluralize(album.plays_count, 'play'), profiles_library_artist_album_plays_path(id: @profile.id, name: album.artist.name, title: album.album.album_title)
				