%tr
  %td{id: "track_#{play.track.id}", class: ('list_playing_now_track' if playing_now_track_id == play.track.id)}

    .media-left

      .list_play_button.play_button
        - if playing_now_track_id == play.track.id
          = render 'player/list_play_button'
        - else
          = button_to play_path(artist: play.artist.artist_name, track: play.track.track_title), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get, onclick: 'loadTrack(this)' do
            %i.fas.fa-play

      = image_tag (play.album.present? ? play.album.album_cover : 'missing_album.png'), class: 'img_50'

    .media-body

      .track_options

        .created_at
          %h6
            = l play.created_at, format: "%e %b %Y"
          %h6
            = l play.created_at, format: "%H:%M"

        = render 'muffon/track_dropdown', track: play.track

      %h5
        - if play.profile_track.loved?
          %i.fas.fa-heart{style: 'color: red'}
        - else
          %i.far.fa-heart
        %strong
          = link_to play.track.title, profiles_library_artist_track_path(name: play.artist.artist_name, title: play.track.track_title)

      %h5
        = link_to play.artist.name, profiles_library_artist_path(id: @profile.id, name: play.artist.artist_name)

      - if play.album.present?
        %h5
          = link_to play.album.title, profiles_library_artist_album_path(id: @profile.id, name: play.artist.artist_name, title: play.album.album_title), class: 'text-muted'

    - if params[:action] == 'plays'

      %iframe.mg_top_10{ frameborder:'0', width: 576, height: 324, hidden: true }

    - else

      %iframe.mg_top_10{ frameborder:'0', width: 320, height: 180, hidden: true }
