- if @plays.any?

  %table.table.table-hover.table-condensed.mg_btm_10
    = render partial: 'profiles/library/main/partials/play', collection: @plays

  - unless params[:action] == 'plays'

    .text_right.mg_top_10
      = link_to "View more...", profiles_library_plays_path, class: 'btn btn-primary btn-sm'

- else

  - if current_profile?(@profile)
    = "You haven't listened to any tracks during that period."
  - else
    = "#{@profile.nickname} hasn't listened to any tracks during that period."