- if @taggings.any?

  - @taggings.map do |tagging|

    .inline
      = link_to profiles_library_tagging_path(name: tagging.tag.name), class: 'btn btn-primary btn-sm tag' do
        %strong
          = tagging.tag.name
        = "(#{tagging.taggings_count})"

  .text_right.mg_top_10
    = link_to "View more...", profiles_library_taggings_path, class: 'btn btn-primary btn-sm'

- else

  = current_profile?(@profile) ? 'You have' : "#{@profile.nickname} has"
  no taggings yet.