%tr
  %td{id: "track_#{track.track.id}", class: ('list_playing_now_track' if playing_now_track_id == track.track.id)}

    .media-left

      .list_play_button.play_button
        - if playing_now_track_id == track.track.id
          = render 'player/list_play_button'
        - else
          = button_to play_path(artist: track.artist.artist_name, track: track.track.track_title), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get, onclick: 'loadTrack(this)' do
            %i.fas.fa-play

      = image_tag track.artist.artist_image, class: 'img_50'

    .media-body

      .track_options

        = render 'muffon/track_dropdown', track: track.track

      %h5
        - if track.loved?
          %i.fas.fa-heart{style: 'color:red'}
        - else
          %i.far.fa-heart
        %strong
          = link_to track.track.title, profiles_library_artist_track_path(name: track.artist.artist_name, title: track.track.track_title)

      %h5
        = link_to track.artist.name, profiles_library_artist_path(id: @profile.id, name: track.artist.artist_name)

      .inline.track_bar{style: "width: #{library_width_of(track) + 2}%"}
      .inline.mid_align
        = link_to number_with_delimiter(track.plays_count), profiles_library_artist_track_plays_path(name: track.artist.artist_name, title: track.track.track_title)

    - if params[:action] == 'tracks' || params[:controller] == 'profiles'

      %iframe.mg_top_10{frameborder:'0', width: 576, height: 324, hidden: true, }

    - else

      %iframe.mg_top_10{frameborder:'0', width: 320, height: 180, hidden: true}
