#artist_album_page.artist_page.panel.center
  .panel_content

    #artist_album_left.media-left.album_220

      .mg_btm_10
        = image_tag @album.album_cover, style: 'cursor: pointer', onclick: "$('#cover_modal').modal()"

      - if @album.bandcamp_link.present?

        .pull-right
          = link_to "https://#{@album.bandcamp_link}", target: '_blank' do
            %h4
              %i.fab.fa-bandcamp{data: {toggle: 'tooltip', placement: 'top'}, title: 'On Bandcamp'}

    #artist_album_right.media-right.full_width

      #artist_album_title.mg_btm_10

        %h3.mg_btm_5
          = @album.title
        %h4.mg_btm_5
          = link_to @album.artist.name, artist_path
        %h5.mg_btm_10.text-muted
          = @album.release_date

        - if @album.labels.present?
          - @album.labels.map do |l|
            - label_name = Label.find(l).name
            %h5.d-inline
              = link_to label_name, label_path(name: label_name), class: 'label label-default'

      .separator.sep_10.sep_default

      - if @tags.present?

        #artist_album_tags.mg_btm_5

          %i.fas.fa-tags

          - @tags.first(5).map do |tag|
            .d-inline
              = link_to tag_path(tag.name), class: 'btn btn-primary btn-sm tag mg_btm_5' do
                %strong
                  = tag.name

          - if @tags.length >= 5

            .d-inline
              = link_to 'More tags...', artist_album_tags_path, class: 'inv_btn_no_hover no_padding'

      #artist_album_listens
        %h4.d-inline.mg_right_10
          %i.fas.fa-user
          = number_with_delimiter(@album['listeners'])
        %h4.d-inline
          %i.fas.fa-play
          = number_with_delimiter(@album['playcount'])

      - if @album.album_description.present?
        .separator.sep_10.sep_default

        #artist_album_wiki
          %h5
            = @album.truncated_description(50)

            - if @album.album_description.split(' ').length >= 50
            
              = link_to 'Read more...', artist_album_wiki_path, class: 'inv_btn_no_hover no_padding text-muted'

      %hr.sep_10

      %table.table.table-hover.table-condensed#artist_album_tracks
        - @album.album_tracks.each_with_index do |track, index|

          = render 'album_track', track: track, index: index

#cover_modal.modal
  .modal-dialog.text_center
    = image_tag @album.album_cover.gsub('/300x300', '/600x600'), style: 'max-width:600px'
