.card
  .card-body.row
    .col-4
      .mb-2
        = image_tag @album.cover, class: 'img-fluid clickable', data: { toggle: 'modal', target: '#album-cover-modal' }

      - if @album.bandcamp_link.present?
        .text-right
          = link_to "https://#{@album.bandcamp_link}", target: '_blank' do
            %h4
              %i.fab.fa-bandcamp{ data: { toggle: 'tooltip', placement: 'top' }, title: 'On Bandcamp' }

    .col-8
      = render 'partials/artists/albums/info'

      %hr.my-2

      %table.table.table-hover.table-sm
        - @album.tracks.each_with_index do |track, index|
          = render 'partials/artists/track', track: track.decorate, index: index

#album-cover-modal.modal
  .modal-dialog.text_center
    = image_tag @album.cover.gsub('/300x300', '/600x600'), style: 'max-width:600px'
