- if params[:action] == 'album'
  %h4
    Search results for
    %strong= "\"#{params[:q]}\""
  %br

%h4.search_header
  %strong
    = link_to 'Albums:', search_album_path(q: params[:q])

.separator.sep_10.sep_default

.panel_content_wide
  - @albums.map do |album|
    .album.album_170
      = link_to artist_album_path(name: (album['artist'].include?('/') ? CGI.escape(album['artist']) : album['artist']), title: (album['name'].include?('/') ? CGI.escape(album['name']) : album['name'])) do
        = image_tag (album['image'][2]['#text'].present? ? album['image'][2]['#text'] : 'missing_album.png')
        %h4
          %strong= album['name']
        %h5= album['artist']
.text_right
  = link_to 'View more...', search_album_path(q: params[:q]), class: 'btn btn-primary btn-sm'