- if params[:action] == 'album'

  %h4
    Search results for
    %strong= "\"#{params[:q]}\""

  %br

%h4
  %strong
    = link_to 'Albums:', search_albums_path(q: params[:q])

.separator.sep_10.sep_default

- if @albums.present?

  .panel_content_wide

    - @albums.map do |album|

      .album.album_170.mg_btm_10
        = link_to artist_album_path(name: album.artist.artist_name, title: album.album_title) do
          = image_tag album.album_cover
          %h4
            %strong
              = album.title
          %h5
            = album.artist.name

  .text_right
    = link_to 'View more...', search_albums_path(q: params[:q]), class: 'btn btn-primary btn-sm'

- else

  %h5
    Nothing was found.
