- if params[:action] == 'artist'
  %h4
    Search results for
    %strong= "\"#{params[:q]}\""
  %br

%h4.search_header
  %strong
    = link_to 'Artists:', search_artist_path(q: params[:q])

.separator.sep_10.sep_default

.panel_content_wide
  - @artists.map do |artist|
    .artist.artist_170
      = link_to artist_path(name: (artist['name'].include?('/') ? CGI.escape(artist['name']) : artist['name'])) do
        = image_tag (artist['image'][2]['#text'].present? ? artist['image'][2]['#text'] : 'missing_artist.png'), class: 'img_rnd'
        %h4
          %strong= artist['name']
      %h5
        = fa_icon 'user'
        = number_with_delimiter(artist['listeners'])
.text_right
  = link_to 'View more...', search_artist_path(q: params[:q]), class: 'btn btn-primary btn-sm'