.card
  .card-body
    .row
      .col-12.col-sm-4.col-xl-3
        .mb-2.position-relative
          = render 'partials/artists/actions', artist: @artist
          = image_tag @artist.image, class: 'img-fluid w-100 rounded-circle position-relative clickable', data: { toggle: 'modal', target: '#artist-image-modal' }
        .float-right
          = link_to artists_images_path(artist_name: @artist.name) do
            More images...

      .col-12.col-sm-8.col-xl-9
        %h3
          = @artist.name
        = render 'partials/artists/tags_taggings'
        %h5.d-inline.mr-2{ data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Last.fm listeners' }
          %i.fas.fa-user
          = number_with_delimiter(@artist.lastfm_listeners_count)
        %h5.d-inline{ data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Last.fm plays' }
          %i.fas.fa-play
          = number_with_delimiter(@artist.lastfm_plays_count)

        .separator.my-2.default

        = render 'partials/artists/description', artist: @artist

  %hr

  .card-body
    .d-inline
      = link_to artists_listeners_path(artist_name: @artist.name) do
        muffon listeners:
        = @artist.listeners_count
    .d-inline
      = link_to artists_plays_path(artist_name: @artist.name) do
        muffon plays:
        = @artist.plays_count

  %hr 

  - if logged_in? && @artist.in_library?(current_profile.id)
    .card-body
      In your library since
      %strong
        = l current_profile.profile_artists.find_by(artist_id: @artist.id).created_at, format: '%e %b %Y'

  %hr

  .card-body
    .row
      .col-12.col-lg-6
        = render 'partials/artists/top_tracks', artist: @artist

      .col-12.col-lg-6
        = render 'partials/artists/top_albums', artist: @artist
      
  %hr

  .card-body
    = render 'partials/artists/top_similar_artists', artist: @artist

#artist-image-modal.modal
  .modal-dialog
    = image_tag @artist.image.gsub('/300x300', '/600x600'), class: 'img-fluid'
