.card
  .card-body
    %h5.text-center
      %i.fas.fa-check.text-success
      = t('connections.lastfm.success')

    .separator.default.mt-3.mb-2

    .text-center.mb-2
      = t('connections.lastfm.what_next')

    .mb-2
      = button_to t('connections.lastfm.import_button_text'), lastfm_import_path, class: 'btn btn-block btn-light', method: :get
    = link_to t('connections.lastfm.skip_button_text'), dashboard_path, class: 'btn btn-block btn-primary'

    %hr.mt-3.mb-3

    %small
      = t('connections.lastfm.info')
