.card
  .card-body
    %h4 Sign up

    .separator.default.mt-3.mb-3

    #registration-flash-msg

    = form_for @profile, url: registration_path, html: { class: 'row no-gutters align-items-center' }, remote: true, multipart: true, authenticity_token: true do |f|

      = render 'partials/registrations/lastfm_block'

      = f.hidden_field :nickname
      = f.hidden_field :name
      = f.hidden_field :country
      = f.hidden_field :lastfm_id
      = f.hidden_field :remote_avatar_url

      = f.label :gender, 'Gender:', class: 'col-3 mb-xs-2'
      .col-9.d-flex.mb-2.btn-group.btn-group-toggle{ data: { toggle: 'buttons' } }
        = f.label :gender_m, class: 'btn btn-primary btn-sm' do
          = f.radio_button :gender, 'm', class: 'mr-0'
          Male
        = f.label :gender_f, class: 'btn btn-primary btn-sm' do
          = f.radio_button :gender, 'f', class: 'mr-0'
          Female
        = f.label :gender_o, class: 'btn btn-primary btn-sm' do
          = f.radio_button :gender, 'o', class: 'mr-0'
          Other

      = f.label :birthdate, 'Birth date:', class: 'col-12 col-sm-3 mb-sm-2'
      .col-12.col-sm-9
        = f.date_field :birthdate, class: 'input-transp mb-2', value: Date.today, min: '1900-01-01'

      = f.label :city, 'City:', class: 'col-12 col-sm-3 mb-sm-2'
      .col-12.col-sm-9
        = f.text_field :city, class: 'input-transp mb-3'

      = f.label :email, 'Email:', class: 'col-12 col-sm-3 mb-sm-2'
      .col-12.col-sm-9
        = f.email_field :email, class: 'input-transp mb-2', required: true

      = f.label :password, 'Password:', class: 'col-12 col-sm-3 mb-sm-2'
      .col-12.col-sm-9
        = f.password_field :password, class: 'input-transp mb-2', required: true

      = f.label :password_confirmation, 'Confirm password:', class: 'col-12 col-sm-3 mb-sm-3'
      .col-12.col-sm-9
        = f.password_field :password_confirmation, class: 'input-transp mb-3', required: true

      = submit_tag 'Sign up', form: 'new_profile', class: 'btn btn-light btn-block'

    %h6.text-center.mt-2.mb-0
      = button_to login_path, method: :get, remote: true, class: 'btn btn-link text-white' do
        = t('registrations.login')
