#conversation.panel.center

	.panel_header

		.panel_header_left

			- if @recipient.present?

				.media-left
					= image_tag @recipient.avatar.url(:xs), class: 'img_rnd'
				.media-right
					%h4
						= link_to @recipient.nickname, profile_path(@recipient)

			- else

				.media-left
					= image_tag 'xs_avatar_default', class: 'img_rnd'
				.media-right
					%h4.text-muted
						Deleted profile

		.panel_header_right

			.media-left
				%h4
					= link_to 'Conversations', conversations_path
			.media-right
				= image_tag current_profile.avatar.url(:xs), class: 'img_rnd'

	.separator.sep_0.sep_light

	#conversation_messages.panel_content

		%table.table

			= render @messages

	#conversation_bottom

		%hr.sep_0

		#conversation_form.panel_content

			.media-left.mid_align
				= image_tag current_profile.avatar.url(:sm), class: 'img_rnd'

			.media-body.mid_align

				- if @recipient.present?

					= form_for current_profile.messages.new, remote: true do |f|

						= f.text_field :content, class: 'input_transp', placeholder: 'Enter your message:'
						= f.hidden_field :profile_id, value: current_profile.id
						= hidden_field_tag :conversation_id, @conversation.id
						= hidden_field_tag :to, @recipient.nickname

				- else

					You cannot have conversation with deleted profile.
