.card
  .card-body
    = render 'partials/profiles/library/artists/albums/panel_header'

    %h5
      = "Plays (#{@album.plays_count}):"

    .separator.default.my-2

    - if @plays.any?
      %table.table.table-hover.table-sm
        = render partial: 'partials/profiles/library/instances/album/play', collection: @plays.decorate
      = pagination
    - else
      There are no plays.
