.card
  .card-body
    = render 'partials/profiles/library/artists/albums/panel_header'

    .row
      .col-12.col-sm-4.col-md-3.text-center
        = render 'partials/profiles/library/artists/albums/info'
      .col-12.col-sm-8.col-md-9
        %h5
          = "Tracks (#{@album.profile_track_ids.length}):"

        .separator.default.my-2

        - if @tracks.any?
          %table.table.table-hover.table-sm
            - @tracks.each do |track|
              = render 'partials/profiles/library/instances/album/track', track: track
          .text-right
            = link_to 'View more...', profiles_library_artists_albums_tracks_path, class: 'btn btn-primary btn-sm'
        - else
          There are no tracks.

        %hr.my-3

        %h5
          = "Plays (#{@album.plays_count}):"

        .separator.default.my-2

        - if @plays.any?
          %table.table.table-hover.table-sm
            - @plays.each do |play|
              = render 'partials/profiles/library/instances/album/play', play: play
          .text-right
            = link_to 'View more...', profiles_library_artists_albums_plays_path, class: 'btn btn-primary btn-sm'
        - else
          There are no plays.
