.card
  .card-body
    = render 'partials/profiles/library/artists/albums/panel_header'

    %h5
      = "Tracks (#{@album.profile_track_ids.length}):"

    .separator.default.my-2

    - if @tracks.any?
      %table.table.table-hover.table-sm
        = render partial:'partials/profiles/library/instances/album/track', collection: @tracks.decorate
      = pagination
    - else
      There are no tracks.
