%tr
  %td
    .search_entry

      .media-left.mid_align

        .playlist_add_button
          = button_to playlist_add_profile_artist_path(profile_artist_id: artist.id), class: 'btn btn-sm btn-primary playlist_add_btn', method: :post, remote: true do
            = fa_icon 'angle-double-left 2x'

        = image_tag artist.artist_image, class: 'img_rnd img_50'

      .media-body.mid_align

        %h4.mg_btm_5.inline
          = artist.artist_name

        = button_to playlist_search_artist_tracks_path(profile_artist_id: artist.id), method: :get, class: 'btn btn-primary btn-sm', remote: true do
          = "Tracks (#{artist.tracks_count})"
          .caret

    .search_artist_tracks#search_artist_tracks{id: artist.id}
