#playlist_search_tracks
  
  - if @tracks.present?

    %h4
      = "Tracks (#{@tracks.length}):"

    .separator.sep_10.sep_default

    %table.table.table-hover.table-condensed
      = render partial: 'track', collection: @tracks

#playlist_search_artists

  - if @artists.present?

    %h4
      = "Artists (#{@artists.length}):"

    .separator.sep_10.sep_default

    %table.table.table-hover.table-condensed
      = render partial: 'artist', collection: @artists

#playlist_search_albums

  - if @albums.present?

    %h4
      = "Albums (#{@albums.length}):"

    .separator.sep_10.sep_default

    %table.table.table-hover.table-condensed
      = render partial: 'album', collection: @albums
