%tr
  %td
    .search_entry

      .media-left.mid_align

        .playlist_add_button.no_padding
          = button_to playlist_add_profile_track_path(profile_track_id: track.id), class: 'btn btn-primary btn-sm playlist_add_btn', remote: true do
            = fa_icon 'angle-double-left 2x'

        = image_tag track.artist_image, class: 'img_rnd img_30'

      .media-body.mid_align

        %h5
          %strong
            = track.title
        %h5
          = track.artist_name