.card
  .card-body
    = render 'profiles/library/panel_header'

    %h5
      %i.fas.fa-tag
      Tags:

    .separator.default.my-2
    
    - if @tags.any?
      .mb-2
        - @tags.each do |tag|
          = link_to profiles_library_tag_path(tag_name: tag[0]), class: 'tag' do
            %strong.d-inline
              = tag[0]
            .small.d-inline
              = "(#{tag[1]})"
    - else
      There are no tags.
