.card
  .card-body
    .d-flex.justify-content-between.align-items-center
      %h4.mb-0
        %i.fas.fa-volume-up
        Recommendations

      = button_tag class: 'btn btn-primary', id: 'recommendations-filter-button' do
        %i.fas.fa-filter
        Filter

    .separator.default.my-3

    #recommendations-filter-form
      = render 'filter_form'

    #recommendations-randomize-button.d-flex.justify-content-end
      = button_tag form: 'recommendations-filter-submit-form', name: 'random',  value: true, class: 'btn btn-primary' do
        %i.fas.fa-random
        Random

    .separator.default.my-3

    #recommendation-query
      = render 'query'

    #recommendations
      = render 'recommendations'
