%h4.mb-0
  = @album.title
%h5.mb-1
  = link_to @artist.name, @artist
%h6.mb-2.text-muted
  = @album.release_date

- if @album.labels.any?
  .mb-2
    %i.fas.fa-dot-circle
    - @album.labels.pluck(:name).each do |label_name|
      = link_to label_name, label_path(label_name: label_name), class: 'label'

- if @album.tags.any?
  #tags-wrap.mb-1
    %i.fas.fa-tags
    - @album.tags.first(5).pluck(:name).each do |tag_name|
      = link_to tag_name, tag_path(tag_name), class: 'tag'
    = link_to 'More tags...', artists_albums_tags_path

%h5.d-inline.mr-2
  %i.fas.fa-user
  = number_with_delimiter(@album.lastfm_listeners_count)
%h5.d-inline
  %i.fas.fa-play
  = number_with_delimiter(@album.lastfm_plays_count)

- if @album.description.present?
  .separator.default.my-2

  %h6
    - if @album.description.present?
      = @album.description.truncate_words(50)
      = link_to 'Read more...', artists_albums_wiki_path, class: 'text-muted'
    - else
      .text-muted
        No description.
