%tr
  %td.playlist_track{id: "track_#{track.track.id}", class: ('list_playing_now_track' if playing_now_track_id == track.track.id)}

    .media-left.mid_align

      .list_play_button.no_padding{class: ('play_button' unless %w[album album_plays].include?(params[:action]))}

        - if playing_now_track_id == track.track.id
          = render 'player/list_play_button'
        - else
          = button_to play_path(artist: track.artist.artist_name, track: track.track.track_title, from: 'playlist', from_id: @playlist.id), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get, onclick: 'loadTrack(this)' do
            %i.fas.fa-play

      - if track.profile_album_id.present?
        = image_tag track.album.album_cover, class: 'img_30'
      - else
        = image_tag track.artist.artist_image, class: 'img_rnd img_30'

    .media-body.mid_align

      .track_options

        = render 'muffon/track_dropdown', track: track.track

      .track_creds

        %h4.d-inline
          -# = link_to track.track.title, artist_track_path(name: track.artist.artist_name, title: track.track.track_title)
          = track.track.title
        - if track.profile_track_id.present?
          %h5.d-inline
            = link_to library_artist_track_path(id: @profile.id, name: track.artist.artist_name, title: track.track.track_title) do
              %i.fas.fa-headphones{data: {toggle: 'tooltip', placement: 'bottom'}, title: 'In your library'}
        %h5
          = link_to track.artist.name, artist_path(name: track.artist.artist_name)
        - if track.profile_album_id.present?
          %h5
            = link_to track.album.title, artist_album_path(name: track.artist.artist_name, title: track.album.album_title)

    %iframe.mg_top_10{frameborder:'0', width: 480, height: 270, hidden: true}
