- @common_albums.first(5).each do |album|
  = link_to profiles_library_artists_album_path(artist_name: album.artist_name, album_title: album.title) do
    .media.align-items-center.my-2
      .mr-2
        = image_tag album.cover, class: 'img-xs'
      .media-body
        %h6.mb-0
          %strong
            = album.title
        .small
          = album.artist_name
        .small
          = pluralize(album.plays_count, 'play')

- if @common_albums.count > 5
  .text-right
    = link_to "and #{@common_albums.count - 5} more...", '#'
