- @common_tracks.first(5).each do |track|
  = link_to profiles_library_artists_track_path(artist_name: track.artist_name, track_title: track.title) do
    .media.align-items-center.my-2
      .mr-2
        = image_tag track.artist_image, class: 'img-xs'
      .media-body
        %h6.mb-0
          %strong
            = track.title
        .small
          = track.artist_name
        .small
          = pluralize(track.plays_count, 'play')

- if @common_tracks.count > 5
  .text-right
    = link_to "and #{@common_tracks.count - 5} more...", '#'
