- if enqueued_tracks.present?

  %table.table.table-hover

    - enqueued_tracks.map do |track|

      %tr
        %td{id: track.id}
          .media-left.mid_align
            .play_button.no_padding
              = button_to play_path(artist: track.artist.name, track: track.title), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get do
                %i.fas.fa-play
            = image_tag track.artist.artist_image, class: 'img_rnd img_30'
          .media-body.mid_align
            .pull-right
              = button_to delete_from_queue_path(track_id: track.id), class: 'inv_btn', method: :delete, remote: true do
                %i.fas.fa-times
            %h5
              %strong 
                = link_to CGI.unescape(track.title), '#'
            %h5
              = link_to CGI.unescape(track.artist.name), artist_path(name: CGI.unescape(track.artist.name))

- else

  %h5 The queue is empty.