#player{hidden: (true unless playing_now_track.present?), data: {turbolinks: {permanent: true}}}

  .center.inline.mid_align

    %canvas#canvas
    #player_playing_now_track
      = render 'player/playing_now_track_sm'

    = audio_tag (playing_now_track.present? ? get_playing_now_track : ''), controls: true, id: 'audio'

    #player_panel

      #player_play_button.text_center

        .inline#player_previous_btn
          = render 'player/previous_btn'

        %h4.mg_top_5.inline
          = button_tag class: 'inv_btn', id: 'player_play_btn', onclick: 'playAudio();' do
            %i.fas.fa-play#player_play_btn_icon

        .inline#player_next_btn
          = render 'player/next_btn'

      #play_progress_bar

        %input.inline{type: 'range', value: 0, max: 0}
        %h5#player_time.inline
          #player_current_time.inline
            00:00
          .inline /
          #player_full_time.inline
            00:00

  #change_track_panel
    #change_track_actions{hidden: true}

  #playing_now_button
    = button_tag onclick: 'showPlayingNow()', class: 'inv_btn' do
      %i.fas.fa-list-ul.fa-2x
