#library_artists_panel.panel.library_page.center

  = render 'profiles/library/main/partials/panel_header'

  #library_artists_panel_content.panel_content

    .scope_order
      #top_artists_order.inline.pull-right
        = render 'profiles/library/main/order/artists'
      #top_artists_scope.inline.pull-right
        = render 'profiles/library/main/scope/artists'

    %h4
      Artists:

    .separator.sep_10.sep_default

    #top_artists
      = render 'profiles/library/main/partials/artists'

    %hr.sep_10

    #artists_paginate.text_center
      = paginate @artists