%tr
  %td.message

    .media-left

      - if message.profile.present?

        = link_to message.profile do
          = image_tag message.profile.avatar.url(:sm), class: 'img_rnd'

      - else

        = image_tag 'avatar_default', class: 'img_rnd img_50'

    .media-body

      .text-muted.pull-right.text_right
        %h6
          = l message.created_at, format: "%e %b %Y"
        %h6
          = l message.created_at, format: "%H:%M"

      %h5.mg_btm_5

        - if message.profile.present?

          = link_to message.profile.nickname, message.profile

        - else

          .text-muted
            Deleted Profile

      - if message.content.present?

        %h4.mg_btm_5
          = message.content

      - if message.track_ids.present?

        %table.table.message_content.table-condensed

          - message.track_ids.map do |track_id|

            - track = Track.find_by(id: track_id)

            = render 'messages/track', track: track
