.up.media
  = link_to @profile do
    = image_tag @profile.avatar.url(:sm)

.up.media
  .media-body
    = link_to profiles_library_path do
      %i.fas.fa-headphones

.up.media
  .media-body
    = link_to profiles_library_artists_path do
      %i.fas.fa-user


- if params[:action] == 'index'
  .up.media
    = image_tag @artist.image
    .media-body
      = link_to @artist.name, profiles_library_artist_path
- else
  .up.media
    = link_to profiles_library_artist_path do
      = image_tag @artist.image

.up.media
  .media-body
    = link_to profiles_library_artists_tracks_path do
      %i.fas.fa-music
      - unless params[:action].in?(%w[albums plays])
        Tracks

- unless params[:action] == 'index'
  .up.media
    .media-body
      = link_to @track.title, profiles_library_artists_track_path

  - if params[:action] == 'albums'
    .up.media
      .media-body
        = link_to profiles_library_artists_tracks_albums_path do
          %i.fas.fa-dot-circle
          Albums

  - elsif params[:action] == 'plays'
    .up.media
      .media-body
        = link_to profiles_library_artists_tracks_plays_path do
          %i.fas.fa-play
          Plays
