#following_page.panel.center
  .panel_header
    %h3
      = "#{@title} (#{@following.count})"

  .separator.sep_0.sep_light

  .panel_content
    - if @following.any? 
      %table.table.table-hover
        = render partial: 'profiles/profile', collection: @following, profile: @follower
    - else
      = (current_profile?(@profile) ? "You aren't" : "#{@profile.nickname} isn't") + ' following anybody.'
