#followers_page.panel.center
  .panel_header
    %h3
      = "#{@title} (#{@followers.count})"

  .separator.sep_0.sep_light

  .panel_content
    - if @followers.any? 
      %table.table.table-hover
        = render partial: 'profiles/profile', collection: @followers, profile: @follower
    - else
      = (current_profile?(@profile) ? "You don't" : "#{@profile.nickname} doesn't") + ' have any followers yet.'
