.panel_header
  .inline.tag_name
    .media-left
      = fa_icon 'tag 2x'
    .media-right
      %h3
        = link_to (@tag.present? ? @tag.tag.name : params[:name]), library_tag_path
  .inline.pull-right
    .media-left
      %h4
        = link_to "#{@profile.nickname}'s tags", library_tags_path
    .media-right= image_tag @profile.avatar.url(:sm), class: 'img_rnd img_sm'