#library_tag_panel.panel.library_page.center
  = render 'panel_header'

  .separator.sep_0.sep_light

  #library_tag_panel_content.panel_content
    %h4
      = "Artists (#{@tag.artist_taggings_count}):"

    .separator.sep_10.sep_default

    - if @artist_taggings.any?
      %table.table.table-hover
        - @artist_taggings.map do |tagging|
          %tr.library_tagging
            %td
              .media-left
                = image_tag tagging.artist.artist_image, class: 'img_50 img_rnd'
              .media-body.mid_align
                %h4
                  = link_to tagging.artist.name, artist_path(name: tagging.artist.name)
                - if tagging.profile_artist.present?
                  = link_to 'in your library', library_artist_path(name: tagging.artist.name)
      .text_center.mg_top_20
        = paginate @artist_taggings
    - else
      %h5
        = (current_profile?(@profile) ? 'You haven\'t' : "#{@profile.nickname} hasn\'t") + ' tagged any artists with this tag.'