.up
  = link_to @profile do
    = image_tag @profile.avatar.url(:sm)

    - if params[:action] == 'index'
      %h6
        = @profile.nickname

.up
  = link_to profiles_contacts_path do
    %h6
      %i.fas.fa-address-book
      Contacts

- if params[:action] == 'followers'
  .up
    = link_to profiles_followers_path do
      %h6
        Followers
- elsif params[:action] == 'following'
  .up
    = link_to profiles_following_path do
      %h6
        Following
