.up
  = link_to @profile do
    = image_tag @profile.avatar.url(:sm)
    %h6
      = @profile.nickname

.up
  = link_to profiles_playlists_path do
    %h6
      %i.fas.fa-list-ul
      Playlists

- if params[:action] == 'show'
  .up
    = link_to profiles_playlist_path do
      %h6
        = @playlist.name

