#followers_page.panel.center

  .panel_header

    .panel_header_left

      %h3
        %i.fas.fa-address-book
        Contacts

    .panel_header_right

      .media-left
        %h4
          = link_to @profile.nickname, profile_path
      .media-right
        = link_to profile_path do
          = image_tag @profile.avatar.url(:sm), class: 'img_rnd img_30'

  .separator.sep_0.sep_light

  .panel_content

    %h4
      Followers
      = "(#{@followers.count}):"

    .separator.sep_10.sep_default

    - if @followers.present?

      %table.table.table-hover
        = render partial: 'profiles/profile', collection: @followers, profile: @follower

    - else

      - if current_profile?(@profile)
        You don't
      - else
        = @profile.nickname + 'doesn\'t'
      have any followers yet.
