.card
  .card-body
    .d-flex.align-items-center.justify-content-between
      %h4.mb-0
        %i.fas.fa-address-book
        Contacts

      .media
        .mr-2
          = image_tag @profile.avatar.url(:xs), class: 'rounded-circle'
        .media-body
          %h5.mb-0
            = link_to @profile.nickname, @profile

    .separator.default.my-3

    %h5
      = "Following (#{@followings.total_count}):"

    .separator.default.my-2

    - if @followings.any? 
      %table.table.table-hover
        - @followings.each do |following|
          = render 'partials/profiles/profile', profile: following
      = paginate @followings
    - else
      There are no followed profiles.
