.card
  .card-body
    .d-flex.align-items-center.justify-content-between
      %h4.mb-0
        %i.fas.fa-address-book
        Contacts

      .media
        .mr-2
          = image_tag @profile.avatar.url(:xs), class: 'rounded-circle'
        .media-body
          %h5.mb-0
            = link_to @profile.nickname, @profile

    .separator.default.my-3

    .row
      .col-12.col-md-6
        %h5
          = "Followers (#{@profile.followers.count}):"

        .separator.default.my-2

        - if @followers.any? 
          %table.table.table-hover
            - @followers.each do |follower|
              = render 'partials/profiles/profile', profile: follower
          - if @followers.length > 5
            .text-right
              = link_to 'View more...', profiles_followers_path, class: 'btn btn-primary btn-sm'
        - else
          There are no followers.

        %hr.my-3.d-md-none

      .col-12.col-md-6
        %h5
          = "Following (#{@profile.followings.count}):"

        .separator.default.my-2

        - if @followings.any? 
          %table.table.table-hover
            - @followings.each do |following|
              = render 'partials/profiles/profile', profile: following
          - if @followings.length > 5
            .text-right
              = link_to 'View more...', profiles_following_path, class: 'btn btn-primary btn-sm'
        - else
          There are no followed profiles.
