#contacts_page.panel.center

  .panel_header

    .panel_header_left

      %h3
        %i.fas.fa-address-book
        Contacts

    .panel_header_right

      .media-left
        %h4
          = link_to @page_data[:profile].nickname, profile_path
      .media-right
        = link_to profile_path do
          = image_tag @page_data[:profile].avatar.url(:sm), class: 'img_rnd img_30'

  .separator.sep_0.sep_light

  #contacts_page_followers.panel_content

    %h4
      = link_to "Followers (#{@page_data[:profile].followers.count})", profiles_followers_path

    .separator.sep_10.sep_default

    - if @page_data[:profile].followers.any? 
      %table.table.table-hover
        - @page_data[:profile].followers.map do |follower|
          = render partial: 'profiles/profile', profile: follower
    - else
      = (current_profile?(@page_data[:profile]) ? "You don't" : "#{@page_data[:profile].nickname} doesn't") + ' have any followers yet.'

  #contacts_page_following.panel_content

    %h4
      = link_to "Following (#{@page_data[:profile].followings.count})", profiles_following_path

    .separator.sep_10.sep_default

    - if @page_data[:profile].followings.any? 
      %table.table.table-hover
        - @page_data[:profile].followings.map do |following|
          = render partial: 'profiles/profile', profile: following
    - else
      = (current_profile?(@page_data[:profile]) ? "You aren't" : "#{@page_data[:profile].nickname} isn't") + ' following anybody.'
