.card
  .card-body
    = render 'partials/profiles/library/panel_header'

    = render 'partials/profiles/library/taggings/panel_header'

    %h5
      = "Albums (#{@profile_tag.album_taggings_count}):"

    .separator.default.my-2

    = render 'partials/profiles/library/taggings/albums', taggings: @taggings