.card
  .card-body
    = render 'partials/profiles/library/panel_header'

    = render 'partials/profiles/library/taggings/panel_header'

    %h5
      = "Artists (#{@profile_tag.artist_taggings_count}):"

    .separator.default.my-2

    = render 'partials/profiles/library/taggings/artists', taggings: @taggings