.card
  .card-body
    = render 'partials/profiles/library/panel_header'

    = render 'partials/profiles/library/taggings/panel_header'

    - if @taggings.any?

      .row
        .col-12.col-md-4
          %h5
            = "Artists (#{@profile_tag.artist_taggings_count}):"

          .separator.default.my-2

          = render 'partials/profiles/library/taggings/artists', taggings: @taggings[:artists]

          %hr.my-3.d-md-none

        .col-12.col-md-4
          %h5
            = "Albums (#{@profile_tag.album_taggings_count}):"

          .separator.default.my-2

          = render 'partials/profiles/library/taggings/albums', taggings: @taggings[:albums]

          %hr.my-3.d-md-none

        .col-12.col-md-4
          %h5
            = "Tracks (#{@profile_tag.track_taggings_count}):"

          .separator.default.my-2

          = render 'partials/profiles/library/taggings/tracks', taggings: @taggings[:tracks]
    - else
      There are no taggings.
