.card
  .card-body
    = render 'partials/profiles/library/panel_header'

    = render 'partials/profiles/library/taggings/panel_header'

    %h5
      = "Tracks (#{@profile_tag.track_taggings_count}):"

    .separator.default.my-2

    = render 'partials/profiles/library/taggings/tracks', taggings: @taggings