#footer.w-100.bottom-0.position-absolute
  %h4
    = link_to 'muffon', root_path
    %h6.mb-0
      = link_to 'About', about_path
    %h6.mb-0
      = link_to 'Help', help_path
    %h6.mb-0
      = link_to 'Contribute', contribute_path
    %h6.mb-0
      = link_to 'Contact us', contact_path
