%tr
  %td.media.align-items-center#track{ id: loved_track.track_id, class: ('dark' if playing_now?(loved_track.track_id)) }
    #love-btn.mr-2{ id: loved_track.id }
      = render 'profiles/library/tracks/love_btn', profile_track: loved_track
    .mr-2.list-play-btn-cover-wrap
      = render 'shared/player/list_play_btn', track_id: loved_track.track_id
      = image_tag loved_track.image, class: 'img-sm'
    .media-body.d-flex.justify-content-between.align-items-center
      #loved-track-data
        %h6.mb-0
          %strong
            = link_to loved_track.title, profiles_library_artists_track_path(artist_name: loved_track.artist_name, track_title: loved_track.title)
        %h6.mb-0
          = link_to loved_track.artist_name, profiles_library_artist_path(profile_id: @profile.id, artist_name: loved_track.artist_name)
        .track-bar-wrap
          .track-bar{ style: "width: #{library_width_of(loved_track) + 2}%" }
          = link_to number_with_delimiter(loved_track.plays_count), profiles_library_artists_tracks_plays_path(artist_name: loved_track.artist_name, track_title: loved_track.title)
      #loved-track-options.d-flex.flex-row.align-items-center
        .d-none.d-sm-block
          .d-flex.flex-column.text-right.mr-2
            .small
              = loved_track.loved_at.strftime('%e %b %Y')
            .small
              = loved_track.loved_at.strftime('%H:%M')
        = render 'shared/tracks/dropdown', track: loved_track.track

    %iframe.mt-2{ frameborder:'0', width: 576, height: 324, hidden: true }
