.card
  .card-body
    = render 'partials/profiles/library/panel_header'

    #library-main.media
      = render 'partials/profiles/library/scrollspy'
      .media-body.position-relative
        = render 'partials/profiles/library/search/form'
        #topartists.anchor
        #library-artists-section
          = render 'partials/profiles/library/sections/artists'

        %hr.my-4

        #topalbums.anchor
        #library-albums-section
          = render 'partials/profiles/library/sections/albums'

        %hr.my-4

        #toptracks.anchor
        #library-tracks-section
          = render 'partials/profiles/library/sections/tracks'

        %hr.my-4

        #toptags.anchor
        = render 'partials/profiles/library/sections/tags'

        %hr.my-4

        #plays.anchor
        = render 'partials/profiles/library/sections/plays'

        %hr.my-4

        #lovedtracks.anchor
        = render 'partials/profiles/library/sections/loved_tracks'

        %hr.my-4

        #newtracks.anchor
        = render 'partials/profiles/library/sections/new_tracks'

        %hr.my-4

        #taggings.anchor
        = render 'partials/profiles/library/sections/taggings'
