.d-flex.justify-content-between.align-items-center
  %h5.mb-0
    = "Artists (#{@profile.artists_count}):"
  #artists-order-scope.d-flex
    .mr-3
      = render 'order'
    = render 'scope'

.separator.default.my-2

- if @artists.any?
  .row
    - @artists.decorate.each do |artist|
      .col-6.col-sm-4.col-md-3
        = render 'artist', artist: artist
  = paginate @artists
- else
  There are no artists.
