%h5
  = "Taggings (#{@profile.tags_count}):"

.separator.default.my-2

- if @taggings.any?
  .mb-2
    - @taggings.each do |tagging|
      = link_to profiles_library_tagging_path(tag_name: tagging.tag.name), class: 'tag' do
        %strong
          = tagging.tag.name
        %small
          = "(#{tagging.taggings_count})"
  .text-right
    = link_to "View more...", profiles_library_taggings_path, class: 'btn btn-primary btn-sm'
- else
  There are no taggings.
