%h5
  Top tags:

.separator.default.my-2

- if @tags.any?
  .mb-2
    - @tags.each do |tag|
      = link_to profiles_library_tag_path(tag_name: tag[0]), class: 'tag' do
        %strong
          = tag[0]
        %small
          = "(#{tag[1]})"
  .text-right
    = link_to "View more...", profiles_library_tags_path, class: 'btn btn-primary btn-sm'
- else
  There are no tags.
