#new_group.panel.center
  .panel_header
    %h3.inline Create a group

  .separator.sep_0.sep_light

  .panel_content
    = form_for Group.new do |f|
      = f.hidden_field :owner_id, value: current_profile.id
      .media-left
        .mg_btm_10
          = image_tag 'md_avatar_default.png', id: 'img_preview'
        = f.file_field :avatar, style: 'display:none', onchange: 'readURL(this);'
        = f.label :avatar, 'Choose avatar', class: 'btn btn-primary btn-sm'
      .media-body
        .mg_btm_10
          = f.text_field :name, placeholder: 'Enter the name of the group:', required: true, class: 'form-control'
        .mg_btm_10
          = f.text_area :description, placeholder: 'Enter group description:', class: 'form-control'
        .pull-right
          = f.submit 'Create', class: 'btn btn-primary'
