.dropdown.track_dropdown

  .dropdown-toggle{data: {toggle: 'dropdown'}}
    = button_tag class: 'inv_btn_no_hover' do
      %h4
        = fa_icon 'ellipsis-v'

  .dropdown-menu.track_actions_dropdown

    = button_to watch_on_youtube_path(track_id: track.id), class: 'btn btn-primary btn-sm play_btn btn_group_first', data: {toggle: 'tooltip', placement: 'right'}, title: 'Watch on YouTube', onclick: 'closeDropdown();', method: :get, remote: true do
      = fa_icon 'youtube-play'

    = button_to send_to_queue_path(track_ids: [track.id]), class: 'btn btn-primary btn-sm play_btn btn_group_mid', data: {toggle: 'tooltip', placement: 'right'}, title: 'Send to queue', onclick: 'closeDropdown();', method: :get, remote: true do
      = fa_icon 'arrow-right'

    .dropdown-submenu

      = button_to show_playlists_path(id: current_profile.id, track_id: track.id), class: 'btn btn-primary btn-sm play_btn btn_group_mid', id: "dropdown_playlist_#{track.id}", data: {toggle: 'tooltip', placement: 'right'}, title: 'Add to playlist', remote: true, method: :get do
        = fa_icon 'list'

      .playlists_dropdown.dropdown-menu#dropdown-menu{id: track.id}

    = button_tag class: 'btn btn-primary btn-sm play_btn btn_group_mid', data: {toggle: 'tooltip', placement: 'right'}, title: 'Send in message', onclick: 'closeDropdown();', method: :get, remote: true do
      = fa_icon 'comments'

    = button_tag class: 'btn btn-primary btn-sm play_btn btn_group_last', data: {toggle: 'tooltip', placement: 'right'}, title: "Delete from #{params[:controller] == 'playlists' ? 'playlist' : 'library'}", onclick: 'closeDropdown();', method: :get, remote: true do
      = fa_icon 'times'
