.similar_artist.text_center

	#similar_up.artist.artist_190
		= render 'actions', artist: similar_artist
		= link_to artist_path(similar_artist.artist_name) do
			.mg_btm_5
				= image_tag similar_artist.artist_image, class: 'img_rnd'
			%h4.mg_btm_5
				%strong
					= similar_artist.name

	#similar_down

		#similar_stats.mg_btm_10

			%h5.d-inline
				%i.fas.fa-user
				= number_with_delimiter(similar_artist.listeners)
			%h5.d-inline
				%i.fas.fa-music
				= number_with_delimiter(similar_artist.playcount)

		#similar_tags.mg_btm_5
			- similar_artist.artist_tags.first(5).map do |tag|
				.d-inline
					= link_to tag_path(name: tag.name), class: 'btn btn-primary btn-sm tag' do
						%strong
							= tag.name

	%hr.sep_10.sep_default

	#similar_bio

		= render 'artists/description', artist: similar_artist, limit: 50
