.card.dark.mb-3.similar-artist-card
	.card-body.row
		.col-12.col-sm-4.col-md-12.mb-2
			.position-relative
				= render 'partials/artists/actions', artist: similar_artist
				= link_to artist_path(similar_artist.name) do
					= image_tag similar_artist.image, class: 'rounded-circle img-fluid position-relative w-100'

		.col-12.col-sm-8.col-md-12
			%h4.mb-1
				%strong
					= link_to similar_artist.name, artist_path(similar_artist.name)
			.mb-2
				%h6.d-inline.mr-2
					%i.fas.fa-user
					= number_with_delimiter(similar_artist.lastfm_listeners_count)
				%h6.d-inline
					%i.fas.fa-music
					= number_with_delimiter(similar_artist.lastfm_plays_count)
			#tags-wrap
				%i.fas.fa-tags
				- similar_artist.top_tags.pluck(:name).each do |tag_name|
					= link_to tag_name, tag_path(tag_name), class: 'tag'

			.separator.default.my-2

			= render 'partials/artists/description', artist: similar_artist
