%h5
  Similar artists:

.separator.default.my-2

.row
  - artist.similar_artists.each do |similar_artist|
    .mb-2.text-center.col-6.col-sm-4.col-md-3
      .position-relative
        .d-none.d-lg-block.d-xl-block
          = render 'partials/artists/actions', artist: similar_artist.decorate
        = link_to artist_path(artist_name: similar_artist.name) do
          .mb-1
            = image_tag similar_artist.image, class: 'rounded-circle img-fluid position-relative'
          %h5
            %strong
              = similar_artist.name

.text-right
  = link_to 'View more...', artists_similar_artists_path(artist_name: artist.name), class: 'btn btn-primary btn-sm'
