%tr
  %td.media#track{ id: track.id, class: ('dark' if playing_now?(track.id)) }
    .mr-2
      - if playing_now?(track.id)
        = render 'partials/player/list_play_button'
      - else
        = button_to player_play_path(artist_name: @artist.name, track: track.title), remote: true, class: 'btn btn-primary btn-sm' do
          %i.fas.fa-play

    .media-body.d-flex.justify-content-between.align-items-center
      #track-data.w-100.media

        - if defined?(index)
          .mr-1
            = "#{index + 1}."

        .media-body
          %h6.mb-0
            %strong
              = track.title
          - if track.artist_id != @artist.id
            %small.text-muted
              = link_to track.artist_name, artist_path(track.artist_name)

          - if track.lastfm_plays_count.to_i.positive?
            .mt-1.track-bar-wrap
              .track-bar{ style: "width: #{width_of(track)}%" }
              %small
                = number_with_delimiter(track.lastfm_plays_count)

      #track-options
        = render 'partials/tracks/dropdown', track: track

    %iframe.mg_top_10{ frameborder:'0', width: 480, height: 270, hidden: true }
