- playlists = current_profile.playlists

- if playlists.present?

  .modal-body

    #playlists_modal_form
      .pull-right
        = button_tag onclick: 'showPlaylistForm();', class: 'btn btn-primary' do
          %i.fas.fa-plus
          Create playlist

  %hr.sep_0

  = form_tag add_track_to_playlists_path(id: current_profile.id, track_id: params[:track_id]), remote: true do

    .modal-body

      %table.table

        = collection_check_boxes nil, :playlists_ids, playlists, :id, :name, include_hidden: false do |p|

          %tr
            %td.playlist_select

              = p.check_box class: 'inline mid_align'
              = p.label class: 'inline mid_align'

    .modal-footer

      .pull-right
        = button_tag type: 'submit', class: 'btn btn-primary' do
          %i.fas.fa-plus
          Add

      = render 'muffon/modals/track', track: Track.find_by(id: params[:track_id])

- else

  .modal-body

    #playlists_modal_form
      You dont have any playlists yet.

      = button_tag onclick: 'showPlaylistForm();', class: 'btn btn-primary' do
        %i.fas.fa-plus
        Create playlist

  .modal-footer

    = render 'muffon/modals/track', track: Track.find_by(id: params[:track_id])

:javascript
  function showPlaylistForm() {
    $('#playlists_modal_form').html("#{j render 'muffon/modals/playlists/form'}")
  }
