- if taggings.present?

  %table.table.table-hover

    - taggings.map do |tagging|

      %tr
        %td

          .media-left.mid_align
            = image_tag tagging.artist.artist_image, class: 'img_30 img_rnd'

          .media-body.mid_align
            %h4.inline
              = link_to tagging.artist.name, artist_path(name: tagging.artist.name)

            - if tagging.profile_artist.present?

              %h5.inline
                = link_to library_artist_path(name: tagging.artist.name) do
                  %i.fas.fa-headphones{data: {toggle: 'tooltip', placement: 'top'}, title: 'In your library'}

  - if params[:action] == 'show'

    .text-right.mg_top_10
      = link_to 'View more...', library_artists_tagging_path, class: 'btn btn-primary btn-sm'

  - else

    .text_center.mg_top_10
      = paginate @artist_taggings

- else

  %h5
    - if current_profile?(@profile)
      You haven't
    - else
      = @profile.nickname
      hasn't
    tagged any artists with this tag.
