- if taggings.present?

  %table.table.table-hover

    - taggings.map do |tagging|

      %tr
        %td

          .media-left.mid_align
            = image_tag tagging.track.artist.artist_image, class: 'img_30'

          .media-body.mid_align
            %h4.inline
              = link_to tagging.track.title, '#'

            - if tagging.profile_track.present?

              %h5.inline
                = link_to library_artist_track_path(name: tagging.track.artist.name, title: tagging.track.title) do
                  %i.fas.fa-headphones{data: {toggle: 'tooltip', placement: 'top'}, title: 'In your library'}

            %h5
              = tagging.track.artist.name

  - if params[:action] == 'show'

    .text-right.mg_top_10
      = link_to 'View more...', library_tracks_tagging_path, class: 'btn btn-primary btn-sm'

  - else

    .text_center.mg_top_10
      = paginate @track_taggings

- else

  %h5
    - if current_profile?(@profile)
      You haven't
    - else
      = @profile.nickname
      hasn't
    tagged any artists with this tag.
