.card
  .card-body
    = render 'profiles/library/panel_header'

    = render 'panel_header'

    - if @profile_tags.any?
      %table.table.table-sm
        %thead
          %tr.text-center
            %th
            %th
              %i.fas.fa-user
              Artists
            %th
              %i.fas.fa-dot-circle
              Albums
            %th
              %i.fas.fa-music
              Tracks
        %tbody
          - @profile_tags.each do |profile_tag|
            %tr
              %td
                = link_to profiles_library_tagging_path(tag_name: profile_tag.tag.name), class: 'btn btn-primary btn-sm' do
                  %strong
                    = profile_tag.tag.name
              %td.text-center
                %h5.mb-0
                  - if profile_tag.artist_taggings_count.positive?
                    = link_to profile_tag.artist_taggings_count, profiles_library_taggings_artists_path(tag_name: profile_tag.tag.name) 
              %td.text-center
                %h5.mb-0
                  - if profile_tag.album_taggings_count.positive?
                    = link_to profile_tag.album_taggings_count, profiles_library_taggings_albums_path(tag_name: profile_tag.tag.name)
              %td.text-center
                %h5.mb-0
                  - if profile_tag.track_taggings_count.positive?
                    = link_to profile_tag.track_taggings_count, profiles_library_taggings_tracks_path(tag_name: profile_tag.tag.name)
      = paginate @profile_tags
    - else
      %h5
        There are no taggings.
