.align-center
  = image_tag 'favicon.ico', class: 'icon-xs mr-2'
  %h5.mr-3
    = link_to '#' do
      = pluralize(number_with_delimiter(@album.listeners_count), 'listener')
  %h5
    = link_to '#' do
      = pluralize(number_with_delimiter(@album.plays_count), 'play')
