%tr
  %td.text-white#track{ id: track.id, class: ('dark' if playing_now?(track.id)) }
    .align-center
      .mr-2.list-play-btn-wrap
        = render 'shared/player/list_play_btn', track_id: track.id
      .media-body.align-center.justify-content-between
        #track-data.w-100
          %h6.d-flex
            .mr-1
              = "#{index + 1}."
            %strong
              = link_to track.title, artists_track_path(track_title: track.title)

          - if track.artist_id != @artist.id
            .small
              = link_to track.artist_name, artist_path(track.artist_name)

          - if track.lastfm_plays_count.to_i.positive?
            .track-bar-wrap
              .track-bar{ style: "width: #{width_of(track)}%" }
              .small
                = number_with_delimiter(track.lastfm_plays_count)

        #track-options.align-center.ml-2
          .mr-1
            .small
              = track.duration
          = render 'shared/tracks/dropdown', track: track

    .youtube-iframe.d-none
      = render 'shared/tracks/youtube_iframe'
