.card
  .card-body
    = render 'panel_header'

    %h5
      %i.fas.fa-tag
      Tags:

    .separator.my-2

    - @tags.each do |tag|
      = link_to tag_path(tag_name: tag[:name]), class: 'tag m-0 mr-1 mb-1' do
        = tag[:name]
        .small
          = "(#{tag[:count]})"
