%tr
  %td{id: "track_#{new_track.track.id}", class: ('list_playing_now_track' if playing_now_track_id == new_track.track.id)}

    .media-left

      .list_play_button.play_button
        - if playing_now_track_id == new_track.track.id
          = render 'player/list_play_button'
        - else
          = button_to play_path(artist: new_track.artist.artist_name, track: new_track.track.track_title), remote: true, class: 'btn btn-primary btn-sm play_btn', method: :get, onclick: 'loadTrack(this)' do
            = fa_icon 'play'

      = image_tag new_track.artist.artist_image, class: 'img_50'

    .media-body

      .track_options

        .created_at
          %h6
            = l new_track.created_at, format: "%e %b %Y"
          %h6
            = l new_track.created_at, format: "%H:%M"

        = render 'shared/track_dropdown', track: new_track.track

      %h5
        - if new_track.loved?
          = fa_icon 'heart', style: 'color:red'
        - else
          = fa_icon 'heart-o'
        %strong
          = link_to new_track.track.title, library_artist_track_path(name: new_track.artist.artist_name, title: new_track.track.track_title)

      %h5
        = link_to new_track.artist.name, library_artist_path(id: @profile.id, name: new_track.artist.artist_name)

      %h5
        = link_to library_artist_track_plays_path(name: new_track.artist.artist_name, title: new_track.track.track_title) do
          = pluralize(new_track.playcount, 'play')

    %iframe.mg_top_10{frameborder:'0', width: 320, height: 180, hidden: true}
