%tr
  %td{id: "track_#{track.track.id}", class: ('list_playing_now_track' if playing_now_track&.id == track.track.id)}
    .media-left
      .list_play_button.play_button
        = render 'player/get_track_button', track: track.track
      = image_tag track.artist.artist_image, class: 'img_50'
    .media-body
      .pull-right.mg_top_10
        = button_to send_to_queue_path(track_ids: [track.track.id]), class: 'btn btn-primary btn-sm play_btn', method: :get, remote: true do
          = fa_icon 'arrow-right'
      %h5
        - if track.loved?
          = fa_icon 'heart', style: 'color:red'
        - else
          = fa_icon 'heart-o'
        %strong
          = link_to track.track.title, library_artist_track_path(name: track.artist.artist_name, title: track.track.track_title)

      %h5
        = link_to track.artist.name, library_artist_path(id: @profile.id, name: track.artist.artist_name)
      %h5
        = link_to pluralize(track.playcount, 'play'), library_artist_track_plays_path(name: track.artist.artist_name, title: track.track.track_title)
