#library_albums_panel.panel.library_page.center

  .panel_header

    .media-left.mid_align
      = image_tag @profile.avatar.url(:sm), class: 'img_rnd'
    .media-right.mid_align
      %h3
        = link_to "#{@profile.nickname}'s library", library_path

  .separator.sep_0.sep_light

  #library_albums_panel_content.panel_content

    .scope_order
      #top_albums_order.pull-right.inline
        = render 'library/order/albums'
      #top_albums_scope.pull-right.inline
        = render 'library/scope/albums'

    %h4
      Albums:

    .separator.sep_10.sep_default

    #top_albums
      = render 'library/partials/albums'

    %hr.sep_10

    #albums_paginate.text_center
      = paginate @albums