#library_artists_panel.panel.library_page.center

  .panel_header

    .media-left.mid_align
      = image_tag @profile.avatar.url(:sm), class: 'img_rnd'
    .media-right.mid_align
      %h3
        = link_to "#{@profile.nickname}'s library", library_path

  .separator.sep_0.sep_light

  #library_artists_panel_content.panel_content

    .scope_order
      #top_artists_order.inline.pull-right
        = render 'library/order/artists'
      #top_artists_scope.inline.pull-right
        = render 'library/scope/artists'

    %h4
      Artists:

    .separator.sep_10.sep_default

    #top_artists
      = render 'library/partials/artists'

    %hr.sep_10

    #artists_paginate.text_center
      = paginate @artists