#library_plays_panel.panel.library_page.center
  .panel_header
    .media-left.mid_align
      = image_tag @profile.avatar.url(:sm), class: 'img_rnd'
    .media-right.mid_align
      %h3
        = link_to "#{@profile.nickname}'s library", library_path

  .separator.sep_0.sep_light

  #library_plays_panel_content.panel_content

    %h4 Plays:

    .separator.sep_10.sep_default

    = render partial: 'library/partials/plays'

    %hr.sep_20

    .text_center
      = paginate @plays