#profile_library.library_page.panel.center
  .panel_header

    .inline.pull-right.mg_top_10
      = button_tag class: 'btn btn-primary', onclick: 'toggleSearch();' do
        = fa_icon 'search'
        Search

    .media-left.mid_align
      = image_tag @profile.avatar.url(:sm), class: 'img_rnd'
    .media-right.mid_align
      %h3
        = link_to "#{@profile.nickname}'s library", library_path

  #library_search_panel{hidden: true}
    .separator.sep_0.sep_light

    #library_search_content.panel_content
      = form_tag library_search_path, method: :get, remote: true, onsubmit: 'showLoading();' do
        = text_field_tag :q, params[:q], placeholder: "Search in your library:", class: 'form-control', id: 'query'
        = submit_tag 'Search', name: nil, style: 'display: none'

  .separator.sep_light.sep_0

  #library_search_results.panel_content{hidden: true}

  #library_panel

    - if @profile.profile_artists.any?

      #library_top_artists_panel.panel_content

        .scope_order
          #library_top_artists_scope.pull-right.inline
            = render 'library/scope/library_artists'

        %h4.inline
          = link_to 'Top artists:', library_artists_path

        .separator.sep_default.sep_10

        #library_top_artists
          = render 'library/partials/artists'

      %hr.sep_0

      #library_top_albums_panel.panel_content.table_cell

        .scope_order
          #library_top_albums_scope.pull-right.inline
            = render 'library/scope/library_albums'

        %h4.inline
          = link_to 'Top albums:', library_albums_path

        .separator.sep_default.sep_10

        #library_top_albums.text_center
          = render 'library/partials/albums'

      #library_top_tracks_panel.panel_content.table_cell

        .scope_order
          #library_top_tracks_scope.pull-right.inline
            = render 'library/scope/library_tracks'

        %h4.inline
          = link_to 'Top tracks:', library_tracks_path

        .separator.sep_default.sep_10

        #library_top_tracks
          = render partial: 'library/partials/tracks'

      %hr.sep_0

      #library_new_loved_tracks.panel_content.table_cell

        #library_loved_tracks_panel
          %h4
            = fa_icon 'heart-o'
            = link_to "Loved tracks (#{@profile.loved_tracks.count}):", library_tracks_path(show: 'loved')

          .separator.sep_default.sep_10

          #library_loved_tracks
            = render 'library/partials/loved_tracks'

        %hr.sep_20

        #library_new_tracks_panel
          %h4
            = fa_icon 'plus'
            = link_to "New tracks (#{@profile.tracks_count}):", library_tracks_path(order: 3)

          .separator.sep_default.sep_10

          #library_new_tracks
            = render partial: 'library/partials/new_tracks'

      #library_recent_tracks_panel.panel_content.table_cell

        %h4
          = fa_icon 'clock-o'
          = link_to "Recent tracks (#{@profile.plays_count}):", library_plays_path

        .separator.sep_default.sep_10

        #library_recent_tracks
          = render 'library/partials/plays'

      %hr.sep_0

      #library_profile_tags_panel.panel_content

        %h4.inline
          = fa_icon 'tags'
          = link_to "Tags (#{@profile.tags_count}):", library_tags_path

        .separator.sep_default.sep_10

        #library_profile_tags
          = render 'library/partials/tags'

    - else

      .panel_content

        %h4
          = current_profile?(@profile) ? 'Your' : "#{@profile.nickname}'s"
          library is empty.
