#library_tracks_panel.panel.library_page.center

  .panel_header
    .media-left.mid_align
      = image_tag @profile.avatar.url(:sm), class: 'img_rnd'
    .media-right.mid_align
      %h3
        = link_to "#{@profile.nickname}'s library", library_path

  .separator.sep_0.sep_light
            
  #library_tracks_panel_content.panel_content

    .scope_order
      #top_tracks_order.pull-right.inline
        = render 'library/order/tracks'
      #top_tracks_scope.pull-right.inline
        = render 'library/scope/tracks'

    %h4
      = params[:show] == 'loved' ? 'Loved tracks:' : 'Tracks:'

    .separator.sep_10.sep_default

    #top_tracks
      = render partial: "library/partials/#{params[:show] == 'loved' ? 'loved_tracks' : 'tracks'}"

    %hr.sep_20

    #tracks_paginate.text_center
      = paginate (params[:show] == 'loved' ? @loved_tracks : @tracks)
