#library_tracks_panel.panel.panel-default.library_page.center
	.panel_header_sm
		%h3.panel_header_sm_body= "#{@profile.nickname}'s tracks"
		.scopes.inline.pull-right.panel_header_sm_body
			.dropdown.inline
				.btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}} 
					#tracks_scope= render 'sort_scope_label'
				%ul.dropdown-menu.dropdown-menu-right
					%li= link_to 'Most played', library_tracks_scope_path(scope: '1'), remote: true
					%li= link_to 'Least played', library_tracks_scope_path(scope: '2'), remote: true
					%li= link_to 'Newest', library_tracks_scope_path(scope: '3'), remote: true
					%li= link_to 'Oldest', library_tracks_scope_path(scope: '4'), remote: true
	#library_tracks_panel_content.panel_content
		%table.table.table-hover.table-condensed#tracks
			= render partial: 'profile_track', collection: @tracks
		= will_paginate @tracks