#message-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.mb-0
          New message
        .media.align-items-center
          .mr-2
            = image_tag @recipient.avatar.url(:xs), class: 'rounded-circle'
          %h5.mb-1
            = link_to @recipient.nickname, @recipient
      .modal-body
        = form_for Message.new, url: messages_path, remote: true do |f|
          = hidden_field_tag :recipient_id, @recipient.id
          = f.text_area :content, placeholder: 'Enter message...', class: 'input-transp', rows: 4
          .text-right.mt-2
            = f.submit 'Send', class: 'btn btn-primary'
