.card
  .card-body

    = render 'track'

    %hr.my-3

    #track_additional

      = render 'music_video'

      %hr.my-3

      = render 'wiki'

      %hr.my-3

      = render 'similar_tracks'

      = render 'board'
