.up
  = link_to artist_path do
    = image_tag @artist.image

    - if params[:action].in?(%w[index show])
      %h6
        = @artist.name

.up
  = link_to artists_albums_path do
    %h6
      %i.fas.fa-dot-circle

      - if params[:action].in?(%w[index show])
        Albums

- unless params[:action] == 'index'

  - if @album.present?
    .up
      = link_to artists_album_path do
        = image_tag @album.cover
        %h6
          = @album.title

    - if params[:action] == 'tags'
      .up
        = link_to artists_albums_tags_path do
          %h6
            %i.fas.fa-tag
            Tags
    - elsif params[:action] == 'wiki'
      .up
        = link_to artists_albums_wiki_path do
          %h6
            %i.fas.fa-info-circle
            Wiki
    - elsif params[:action] == 'board'
      .up
        = link_to artists_albums_board_path do
          %h6
            %i.fas.fa-edit
            Board

  - else
    .up
      %h6
        Not found
