.up
  .media-left
    = image_tag @artist.artist_image
  .media-right
    = link_to @artist.name, artist_path(name: @artist.artist_name)

- if params[:action].in?(%w[albums album album_tags album_wiki])

  .up
    .media-right
      %i.fas.fa-dot-circle
      = link_to 'Albums', artist_albums_path(name: @artist.artist_name)

  - if params[:action].in?(%w[album album_tags album_wiki])

    .up
      .media-left
        = image_tag @album.album_cover
      .media-right
        = link_to @album.title, artist_album_path(name: @artist.artist_name, title: @album.album_title)

    - if params[:action] == 'album_tags'

      .up
        .media-right
          %i.fas.fa-tags
          = link_to 'Tags', artist_album_tags_path(name: @artist.artist_name, title: @album.album_title)

    - if params[:action] == 'album_wiki'

      .up
        .media-right
          %i.fas.fa-info-circle
          = link_to 'Wiki', artist_album_wiki_path(name: @artist.artist_name, title: @album.album_title)

- if params[:action] == 'tracks'

  .up
    .media-right
      %i.fas.fa-music
      = link_to 'Tracks', artist_tracks_path(name: @artist.artist_name)

- if params[:action] == 'similar_artists'

  .up
    .media-right
      = link_to 'Similar artists', artist_similar_artists_path(name: @artist.artist_name)

- if params[:action] == 'wiki'

  .up
    .media-right
      %i.fas.fa-info-circle
      = link_to 'Wiki', artist_wiki_path(name: @artist.artist_name)

- if params[:action] == 'tags'

  .up
    .media-right
      %i.fas.fa-tags
      = link_to 'Tags', artist_tags_path(name: @artist.artist_name)

- if params[:action] == 'listeners'

  .up
    .media-right
      = link_to 'Listeners', artist_listeners_path(name: @artist.artist_name)

- if params[:action] == 'plays'

  .up
    .media-right
      = link_to 'Plays', artist_plays_path(name: @artist.artist_name)

- if params[:action] == 'images'

  .up
    .media-right
      %i.fas.fa-images
      = link_to 'Images', artist_images_path(name: @artist.artist_name)
