- if @artist.present?
  .up
    = link_to artist_path do
      = image_tag @artist.image
      %h6
        = @artist.name

  - if params[:action] == 'images'
    .up
      = link_to artists_images_path do
        %h6
          %i.fas.fa-images
          Images
  - elsif params[:action] == 'tags'
    .up
      = link_to artists_tags_path do
        %h6
          %i.fas.fa-tag
          Tags
  - elsif params[:action] == 'wiki'
    .up
      = link_to artists_wiki_path do
        %h6
          %i.fas.fa-info-circle
          Wiki
  - elsif params[:action] == 'listeners'
    .up
      = link_to artists_listeners_path do
        %h6
          %i.fas.fa-user
          Listeners
  - elsif params[:action] == 'plays'
    .up
      = link_to artists_plays_path do
        %h6
          %i.fas.fa-play
          Plays
  - elsif params[:action] == 'similar_artists'
    .up
      = link_to artists_similar_artists_path do
        %h6
          Similar artists

- else
  .up
    %h6
      Not found
