.up
  = link_to conversations_path do
    %h6
      %i.fas.fa-comments
      Conversations

- if params[:action] == 'show'
  .up
    - if @other_member.present?
      = link_to @other_member do
        = image_tag @other_member.avatar.url(:sm)
        %h6
          = @other_member.nickname
    - else
      = image_tag 'sm_avatar_default.png'
      %h6.text-muted
        Deleted profile
