.up
  = link_to groups_path do
    %h6
      %i.fas.fa-users
      Groups

- unless params[:action] == 'index'
  .up
    = link_to @group do
      = image_tag @group.avatar.url(:sm)
      %h6
        = @group.name

  - if params[:action] == 'members'
    .up
      = link_to groups_members_path do
        %h6
          %i.fas.fa-user
          Members
