.up#logo
  = link_to 'muffon', root_path

- if params[:action] == 'profile_groups'
  .up
    .media-left
      = link_to image_tag(@profile.avatar.url(:sm)), profile_path
    .media-right
      = link_to "#{@profile.nickname}'s groups", profile_groups_path

- else
  .up
    .media-right
      = link_to 'Groups', groups_path

  - if params[:action] == 'new'

    .up
      .media-right
        = link_to 'New', new_group_path

  - elsif params[:action] == 'show'

    .up
      .media-left
        = image_tag @group.avatar.url(:xs)
      .media-right
        = link_to @group.name, group_path