.up#logo
  = link_to 'muffon', root_path

- case params[:action]

- when 'show', 'artists', 'albums', 'tracks', 'plays'
  .up
    .media-left
      = link_to image_tag(@profile.avatar.url(:sm)), profile_path
    .media-right
      = link_to "#{@profile.nickname}'s library", library_path
    
  - case params[:action]

  - when 'artists'
    .up
      .media-right
        = link_to 'Artists', library_artists_path

  - when 'albums'
    .up
      .media-right
        = link_to 'Albums', library_albums_path

  - when 'tracks'
    .up
      .media-right
        = link_to 'Tracks', library_tracks_path

    - if params[:show] == 'loved'
      .up
        .media-right
          = fa_icon 'heart'
          = link_to 'Loved', library_tracks_path(show: 'loved')

  - when 'plays'
    .up
      .media-right
        = link_to 'Plays', library_plays_path