.up
  .media-right
    - if params[:action] == 'home' && logged_in?

      = link_to root_path do
        %i.fas.fa-home
        Home page

    - elsif params[:action] == 'notifications'

      = link_to notifications_path do
        %i.fas.fa-bell
        Notifications

    - elsif params[:action] == 'feed'

      = link_to feed_path do
        %i.fas.fa-newspaper
        Feed

    - elsif params[:action] == 'player'

      = link_to 'Player', player_path

    - elsif params[:action] == 'recommendations'

      = link_to 'Recommendations', recommendations_path

    - elsif params[:action] == 'settings'

      = link_to 'Settings', settings_path

    - elsif params[:action] == 'about'

      = link_to 'About', about_path

    - elsif params[:action] == 'help'

      = link_to 'Help', help_path

    - elsif params[:action] == 'contact'

      = link_to 'Contact us', contact_path

    - elsif params[:action] == 'contribute'

      = link_to 'Contribute', contribute_path
