.up#logo= link_to 'muffon', root_path

- if params[:action] == 'home' && logged_in?
  .up
    .media-right
      = link_to 'Home', root_path

- if params[:action] == 'notifications'
  .up
    .media-right
      = link_to 'Notifications', notifications_path

- if params[:action] == 'feed'
  .up
    .media-right
      = link_to 'Feed', feed_path

- if params[:action] == 'player'
  .up
    .media-right
      = link_to 'Player', player_path

- if params[:action] == 'recommendations'
  .up
    .media-right
      = link_to 'Recommendations', recommendations_path

- if params[:action] == 'settings'
  .up
    .media-right
      = link_to 'Settings', settings_path

- if params[:action] == 'about'
  .up
    .media-right
      = link_to 'About', about_path

- if params[:action] == 'help'
  .up
    .media-right
      = link_to 'Help', help_path

- if params[:action] == 'contact'
  .up
    .media-right
      = link_to 'Contact us', contact_path

- if params[:action] == 'contribute'
  .up
    .media-right
      = link_to 'Contribute', contribute_path
