.up.media
  .media-body
    %i.fas.fa-volume-up
    = link_to 'Recommendations', recommendations_path

- if params[:artist_name].present?
  .up.media
    - if @artist.present?
      = image_tag @artist.image
      .media-body
        = link_to @artist.name, recommendations_path(params.as_json.slice('artist_name'))
    - else
      .media-body
        %i.fas.fa-question
        = params[:artist_name]

- if params[:tag_name].present?
  .up.media
    .media-body
      %i.fas.fa-tag
      = link_to params[:tag_name], recommendations_path(params.as_json.slice('tag_name'))

- if params[:days].present?
  .up.media
    .media-body
      %i.far.fa-calendar
      = link_to params[:days], recommendations_path(params.as_json.slice('days'))
