.up#logo
  = link_to 'muffon', root_path

- if params[:action] == 'search'
  .up
    .media-right
      = link_to 'Search', search_path
  - if params[:q].present?
    .up
      .media-right
        = link_to params[:q], search_path(q: params[:q])

- if params[:action] == 'artists'
  .up
    .media-right
      = link_to 'Search', search_path
  .up
    .media-right
      = link_to 'Artist', search_artists_path
  - if params[:q].present?
    .up
      .media-right
        = link_to params[:q], search_artists_path(q: params[:q])

- if params[:action] == 'albums'
  .up
    .media-right
      = link_to 'Search', search_path
  .up
    .media-right
      = link_to 'Album', search_albums_path
  - if params[:q].present?
    .up
      .media-right
        = link_to params[:q], search_albums_path(q: params[:q])

- if params[:action] == 'tracks'
  .up
    .media-right
      = link_to 'Search', search_path
  .up
    .media-right
      = link_to 'Track', search_tracks_path
  - if params[:q].present?
    .up
      .media-right
        = link_to params[:q], search_tracks_path(q: params[:q])