.up
  .media-right
    %i.fas.fa-search
    = link_to 'Search', search_path

- if params[:q].present?

  .up
    .media-right
      = link_to params[:q], search_path(q: params[:q])

- if params[:action] == 'artists'

  .up
    .media-right
      %i.fas.fa-user
      = link_to 'Artists', search_artists_path

- elsif params[:action] == 'albums'

  .up
    .media-right
      %i.fas.fa-dot-circle
      = link_to 'Albums', search_albums_path

- elsif params[:action] == 'tracks'

  .up
    .media-right
      %i.fas.fa-music
      = link_to 'Tracks', search_tracks_path
