.up#logo
  = link_to 'muffon', root_path

.up
  .media-right
    = link_to 'Tags', tags_path

- case params[:action]
- when 'show', 'artists', 'albums', 'tracks'

  .up
    .media-right
      = link_to params[:name]

  - case params[:action]
  - when 'artists'

    .up
      .media-right
        = link_to 'Top artists', tag_artists_path

  - when 'albums'

    .up
      .media-right
        = link_to 'Top albums', tag_albums_path

  - when 'tracks'

    .up
      .media-right
        = link_to 'Top tracks', tag_tracks_path
