.up
  = link_to tags_path do
    %h6
      %i.fas.fa-tag
      Tags

- unless params[:action] == 'index'
  .up
    = link_to tag_path do
      %h6
        = params[:tag_name]

  - if params[:action] == 'artists'
    .up
      = link_to tags_artists_path do
        %h6
          %i.fas.fa-user
          Artists
  - elsif params[:action] == 'albums'
    .up
      = link_to tags_albums_path do
        %h6
          %i.fas.fa-dot-circle
          Albums
  - elsif params[:action] == 'tracks'
    .up
      = link_to tags_tracks_path do
        %h6
          %i.fas.fa-music
          Tracks
