%h5
  = link_to 'Library:', profiles_library_path

.separator.default.my-2

%ul.nav.nav-fill
  %li.nav-item.active
    = link_to 'Top artists', '#top_artists', class: 'nav-link active', data: { toggle: 'tab' }
  %li.nav-item
    = link_to 'Top albums', '#top_albums', class: 'nav-link', data: { toggle: 'tab' }
  %li.nav-item
    = link_to 'Top tracks', '#top_tracks', class: 'nav-link', data: { toggle: 'tab' }

%hr.mb-3

.tab-content
  #top_artists.tab-pane.active
    = render 'profiles/tabs/tops/artists'

  #top_albums.tab-pane
    = render 'profiles/tabs/tops/albums'

  #top_tracks.tab-pane
    = render 'profiles/tabs/tops/tracks'
