- if @artist.present?
  .up.media
    = image_tag @artist.image
    .media-body
      = link_to @artist.name, artist_path(@artist.name)

  - if params[:action] == 'images'
    .up.media
      .media-body
        %i.fas.fa-images
        = link_to 'Images', artists_images_path(@artist.name)
  - elsif params[:action] == 'tags'
    .up.media
      .media-body
        %i.fas.fa-tags
        = link_to 'Tags', artists_tags_path(@artist.name)
  - elsif params[:action] == 'wiki'
    .up.media
      .media-body
        %i.fas.fa-info-circle
        = link_to 'Wiki', artists_wiki_path(@artist.name)
  - elsif params[:action] == 'tracks'
    .up.media
      %i.fas.fa-music
      .media-right
        = link_to 'Tracks', artists_tracks_path(@artist.name)
  - elsif params[:action] == 'similar_artists'
    .up.media
      .media-body
        = link_to 'Similar artists', artists_similar_artists_path(@artist.name)
  - elsif params[:action] == 'listeners'
    .up.media
      .media-right
        = link_to 'Listeners', artists_listeners_path(@artist.name)
  - elsif params[:action] == 'plays'
    .up.media
      .media-right
        = link_to 'Plays', artists_plays_path(@artist.name)
- else
  .up.media
    .media-body
      Not found
