.up
  .media-right
    %i.fas.fa-tag
    = link_to 'Tags', tags_path

.up
  .media-right
    = link_to params[:name], tag_path

- if params[:action] == 'artists'

  .up
    .media-right
      %i.fas.fa-user
      = link_to 'Artists', tag_artists_path

- elsif params[:action] == 'albums'

  .up
    .media-right
      %i.fas.fa-dot-circle
      = link_to 'Albums', tag_albums_path

- elsif params[:action] == 'tracks'

  .up
    .media-right
      %i.fas.fa-music
      = link_to 'Tracks', tag_tracks_path
