.card.dark.mb-3.tag-artist-card
  .card-body.row
    .col-12.col-sm-4.col-xl-3
      .position-relative
        = render 'artists/actions', artist: artist
        = link_to artist_path(artist.name) do
          = image_tag artist.image, class: 'rounded-circle img-fluid position-relative w-100 mb-2'

    .col-12.col-sm-8.col-xl-9
      %h4.mb-1
        = link_to artist.name, artist_path(artist.name)
      = render 'artists/lastfm_listeners_plays', artist: artist
      = render 'artists/tags', artist: artist

      .separator.default.my-2

      = render 'artists/description', artist: artist
