#about.panel.center
  .panel_header
    %h3
      muffon
      |
      %i.fas.fa-tag
      = params[:name]

  .separator.sep_0.sep_light

  .panel_content

    %h4 Top artists:

    .separator.sep_10.sep_default

    .panel_content_wide
      = render partial: 'artist', collection: @artists

    .text_right
      = link_to 'View more...', tag_artists_path, class: 'btn btn-primary btn-sm'

    %hr.sep_10

    %h4 Top albums:

    .separator.sep_10.sep_default

    .panel_content_wide
      = render partial: 'album', collection: @albums

    .text_right
      = link_to 'View more...', tag_albums_path, class: 'btn btn-primary btn-sm'

    %hr.sep_10

    %h4 Top tracks:

    .separator.sep_10.sep_default

    %table.table.table-hover.table-condensed
      = render partial: 'track', collection: @tracks

    .text_right.mg_top_10
      = link_to 'View more...', tag_tracks_path, class: 'btn btn-primary btn-sm'