#library_tag_panel.panel.library_page.center
  = render 'panel_header'

  .separator.sep_0.sep_light
  
  #library_tag_panel_content.panel_content
    %h4
      = "Tracks (#{@tag.track_taggings_count}):"

    .separator.sep_10.sep_default

    - if @track_taggings.any?
      %table.table.table-hover
        - @track_taggings.map do |tagging|
          %tr.library_tagging
            %td
              .media-left
                = image_tag tagging.track.artist.artist_image, class: 'img_50'
              .media-body.mid_align
                = link_to '#' do
                  %h4
                    = tagging.track.title
                  %h5
                    = tagging.track.artist.name
                - if tagging.profile_track.present?
                  = link_to 'in your library', library_artist_track_path(name: tagging.track.artist.name, title: tagging.track.title)
      .text_center.mg_top_20
        = paginate @track_taggings
    - else
      %h5
        = (current_profile?(@profile) ? 'You haven\'t' : "#{@profile.nickname} hasn\'t") + ' tagged any tracks with this tag.'