.dropdown.inline

  .btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}}

    = render 'profiles/library/main/scope/label', default_scope: @profile.top_albums_scope

  .dropdown-menu.dropdown-menu-right

    = button_to '1 week', profiles_library_scope_path(collection: 'albums', scope: 7), method: :get, remote: true, class: 'inv_btn_no_hover'
    = button_to '1 month', profiles_library_scope_path(collection: 'albums', scope: 30), method: :get, remote: true, class: 'inv_btn_no_hover'
    = button_to '3 months', profiles_library_scope_path(collection: 'albums', scope: 90), method: :get, remote: true, class: 'inv_btn_no_hover'
    = button_to '6 months', profiles_library_scope_path(collection: 'albums', scope: 180), method: :get, remote: true, class: 'inv_btn_no_hover'
    = button_to '1 year', profiles_library_scope_path(collection: 'albums', scope: 365), method: :get, remote: true, class: 'inv_btn_no_hover'
    = button_to 'All time', profiles_library_scope_path(collection: 'albums', scope: 0), method: :get, remote: true, class: 'inv_btn_no_hover'

- if current_profile?(@profile)

  #top_albums_default_scope.inline

    - if params[:scope] && params[:scope].to_i != @profile.top_albums_scope

      = button_to profiles_library_default_scope_path(collection: 'albums', scope: params[:scope]), method: :patch, remote: true, class: 'btn btn-sm btn-primary' do
        %i.far.fa-save
        Save

    - if params[:action] == 'library_default_scope'

      = button_tag class: 'btn btn-sm btn-primary disabled' do
        %i.fas.fa-check
        Saved
