%hr.sep_0

.panel_content

  %h4
    Search results for
    %strong
      = "\"#{params[:q]}\""

%hr.sep_0

  = render 'search/partials/artists'

%hr.sep_0

  = render 'search/partials/albums'

%hr.sep_0

  = render 'search/partials/tracks'
