#playlists_edit_page.panel.center

  .panel_header

    %h3.d-inline.panel_header_left
      %i.fas.fa-list-ul
      = "#{@playlist.name} | Edit"

    .panel_header_right

      .media-left.mid_align
        %h4
          = link_to "#{@profile.nickname} | Playlists", profile_playlists_path(id: @profile.id)

      .media-right.mid_align
        = image_tag @profile.avatar.url(:xs), class: 'img_rnd'

  .separator.sep_0.sep_light
  
  .panel_content
    = button_to 'Delete playlist', playlist_path, class: 'btn btn-primary', method: :delete