.card
  .card-body
    .d-flex.align-items-center.justify-content-between
      %h4
        %i.fas.fa-list-ul
        Playlists

      .media
        .mr-2
          = image_tag @profile.avatar.url(:xs), class: 'rounded-circle'      
        .media-body
          %h5
            = link_to @profile.nickname, @profile

    %hr.my-2

    - if current_profile?(@profile)
      .text-right
        = button_tag class: 'btn btn-primary', data: { toggle: 'modal', target: '#new-playlist-modal' } do
          %i.fas.fa-plus
          Create playlist

      %hr.my-2

      - if @playlists.any?
        %table.table.table-hover.table-sm
          - @playlists.each do |playlist|
            %tr
              %td
                %h4.mb-0
                  = link_to playlist.name, profiles_playlist_path(playlist_name: playlist.name)
                %h6.mb-0.text-muted
                  = pluralize(playlist.tracks_count, 'track')
        = paginate @playlists
      - else
        There are no playlists.

= render 'modals/playlists/new'
