#profile_playlists_page.panel.panel_570.center

  .panel_header

    %h3.d-inline.panel_header_left
      %i.fas.fa-list-ul
      Playlists

    .panel_header_right

      .media-left.mid_align
        %h4
          = link_to "#{@page_data[:profile].nickname}", profile_path

      .media-right.mid_align
        = image_tag @page_data[:profile].avatar.url(:xs), class: 'img_rnd'      

  .separator.sep_0.sep_light

  #profile_playlists_content

    #add_playlist_panel.panel_content_right.panel_content

      .pull-right
        = button_tag id: 'close_playlist_form', class: 'btn btn-sm inv_btn', onclick: 'closePlaylistPanel();' do
          Close
          %i.fas.fa-times

      %h4 Add playlist:

      .separator.sep_10.sep_default

      #playlist_flash_msgs

      #new_playlist_form

        = form_for @page_data[:new_playlist], remote: true do |f|

          .mg_btm_10
            = f.text_field :name, placeholder: 'Enter playlist name:', class: 'input_transp'
            = hidden_field_tag :remote, true

          .pull-right
            = f.submit 'Create playlist', class: 'btn btn-primary'

    #playlist_content

      - if current_profile?(@page_data[:profile])

        #profile_playlist_actions_panel.panel_content.text_right

          .playlist_page_btn_group
            = button_tag class: 'btn btn-primary inline first_child', method: :get, remote: true, onclick: 'openPlaylistPanel();' do
              %i.fas.fa-plus
              Add playlist

            = button_tag class: 'btn btn-primary inline last_child' do
              %i.fas.fa-pencil-alt
              Edit

        %hr.sep_0

      #profile_playlists.panel_content

        - if @page_data[:playlists].any?

          %table.table.table-hover.table-condensed
            = render partial: 'playlists/playlist', collection: @page_data[:playlists]

          .text_center
            = paginate @page_data[:playlists]

        - else

          - if current_profile?(@page_data[:profile])

            You haven't

          - else

            = @page_data[:profile].nickname
            hasn't

          created any playlists yet.
