- if logged_in?
  #player{hidden: playing_now_track.nil?, data: {turbolinks: {permanent: true}}}

    .center.d-inline.mid_align

      %canvas#canvas
      #player_playing_now_track
        = render 'partials/player/playing_now_track_sm'

      = audio_tag playing_now_track_link, controls: true, id: 'audio'

      #player_panel

        #player_play_button.text_center

          .d-inline#player_previous_btn
            = render 'partials/player/previous_btn'

          %h4.mg_top_5.d-inline
            = button_tag class: 'inv_btn', id: 'player_play_btn', onclick: 'playAudio();' do
              %i.fas.fa-play#player_play_btn_icon

          .d-inline#player_next_btn
            = render 'partials/player/next_btn'

        #play_progress_bar

          %input.d-inline{type: 'range', value: 0, max: 0}
          %h5#player_time.d-inline
            #player_current_time.d-inline
              00:00
            .d-inline /
            #player_full_time.d-inline
              00:00

    #change_track_panel
      #change_track_actions{hidden: true}

    #playing_now_button
      = button_tag onclick: 'showPlayingNow()', class: 'inv_btn' do
        %i.fas.fa-list-ul.fa-2x
