.dropdown
  = button_tag class: 'btn-transp dropdown-toggle px-2 py-1', data: { toggle: 'dropdown' } do
    %h5.mb-0
      %i.fas.fa-ellipsis-v.text-white
  .dropdown-menu.dropdown-menu-right
    .dropdown-item
      = button_tag class: 'btn-transp' do
        %i.fab.fa-youtube.mr-1
        = link_to 'Watch on YouTube', player_watch_on_youtube_path(track_id: track.track_id), remote: true

    - if logged_in?
      .dropdown-item
        = button_tag class: 'btn-transp' do
          %i.fas.fa-comments.mr-1
          = link_to 'Send in message', track_message_modal_path(track_id: track.track_id), remote: true
      .dropdown-item
        = button_tag class: 'btn-transp' do
          %i.fas.fa-arrow-right.mr-1
          = link_to 'Send to queue', player_send_to_queue_path(track_ids: [track.track_id]), remote: true

      .dropdown-divider

      .dropdown-item
        = button_to profiles_playlists_profile_track_path(playlist_id: @playlist.id, profile_track_id: track.profile_track_id, page: params[:page]), class: 'btn-transp', method: :delete, remote: true do
          %i.fas.fa-times.mr-1
          Delete track
      .dropdown-item
        = button_to profiles_playlists_profile_artist_path(playlist_id: @playlist.id, profile_artist_id: track.profile_artist_id, page: params[:page]), class: 'btn-transp', method: :delete, remote: true do
          %i.fas.fa-times.mr-1
          Delete artist
      - if track.album_id.present?
        .dropdown-item
          = button_to profiles_playlists_profile_album_path(playlist_id: @playlist.id, profile_album_id: track.profile_album_id, page: params[:page]), class: 'btn-transp', method: :delete, remote: true do
            %i.fas.fa-times.mr-1
            Delete album