.up.media
  = link_to @profile do
    = image_tag @profile.avatar.url(:sm)

.up.media
  .media-body
    = link_to profiles_library_path do
      %i.fas.fa-headphones
      - if params[:action] == 'index'
        Library

.up.media
  .media-body
    = link_to profiles_library_tags_path do
      %i.fas.fa-tag
      Tags

- if params[:action] == 'show'

  .up.media
    .media-body
      = link_to @tag.name, profiles_library_tag_path
