- if params[:action] == 'index'

  .up
    .media-left
      = link_to image_tag(@profile.avatar.url(:md)), profile_path
    .media-right
      = link_to "#{@profile.nickname}", profile_path

  .up
    .media-right
      %i.fas.fa-headphones
      = link_to 'Library', library_path

  .up
    .media-right
      %i.fas.fa-tags
      = link_to 'Taggings', library_taggings_path

- elsif params[:action].in?(%w[show artists albums tracks])

  .up
    .media-left
      = link_to image_tag(@profile.avatar.url(:md)), profile_path

  .up
    .media-right
      %i.fas.fa-headphones
      = link_to 'Library', library_path

  .up
    .media-right
      %i.fas.fa-tags
      = link_to 'Taggings', library_taggings_path

  .up
    .media-right
      = link_to (@tagging.present? ? @tagging.tag.name : params[:name]), library_tagging_path(name: (@tagging.present? ? @tagging.tag.name : params[:name]))

  - if params[:action] == 'artists'

    .up
      .media-right
        %i.fas.fa-user
        = link_to 'Artists', library_artists_tagging_path(name: @tagging.tag.name)

  - elsif params[:action] == 'albums'

    .up
      .media-right
        %i.fas.fa-dot-circle
        = link_to 'Albums', library_albums_tagging_path(name: @tagging.tag.name)

  - elsif params[:action] == 'tracks'

    .up
      .media-right
        %i.fas.fa-music
        = link_to 'Tracks', library_tracks_tagging_path(name: @tagging.tag.name)
