#recommendations_page.center.panel.panel-default
	%h3.panel_header= link_to "Your recommendations:", recommendations_path
	- @recs.map do |r|
		.panel.panel-default.recommendation#recommendation{id: r.id}
			.media-left.recommendation_artist
				#rec_actions
					#rec_delete.rec_action
						= link_to (fa_icon 'times'), recommendations_path(delete: r.id), method: :patch, remote: true, class: 'rec_del_btn'
					- if artist = Artist.find_by(name: r.artist_name)
						- if profile_artist = @profile.profile_artists.find_by(artist_id: artist.id)
							#rec_plays.rec_action
								%h5= link_to (fa_icon 'music'), library_artist_path(id: @profile.id, artist_id: profile_artist.id)
					#rec_listened.rec_action
						%h5
							= fa_icon 'plus'
							.caret
				= link_to artist_path(r.artist_name) do
					.artist_image
						= image_tag r.image if r.image
					%h4
						%strong= r.artist_name
			.media-body
				%h5.rec_header Because you've listened to:
				.recommendation_info
					- r.artists.first(5).map do |a|
						.recommendation_info_artist
							.artist_image= image_tag Artist.find(a).image, style: 'width: 30px'
							%h5= link_to Artist.find(a).name, library_artist_path(id: @profile, artist_id: @profile.profile_artists.find_by(artist_id: a))
					= "and #{pluralize((r.artists.length - 5), 'more artist')}..." if r.artists.length > 5
	= will_paginate @recs

-# - console