.card
  .card-body.media
    = render 'partials/profiles/left_block'
    = render 'partials/profiles/right_block'

  %hr

  .card-body
    .media
      .profile-page-left.mr-3.d-none.d-sm-block
      .media-body
        - if @profile.plays.any?
          = render 'partials/profiles/library'
        - if other_profile?(@profile)
          = render 'partials/profiles/common'

  %hr

    #profile_playing_now_track{ id: @profile.id }
      = render 'partials/profiles/playing_now_track'

  = render 'partials/profiles/tabs'
