%tr
  %td.playlist#playlist{id: playlist.id}

    - if params[:action] == 'index'

      .media-left

        = link_to profile_path(playlist.profile) do
          = image_tag playlist.profile.avatar.url(:sm), class: 'img_rnd'

    .media-body

      %h4.inline
        = link_to playlist.name, playlist_path(playlist_name: playlist.name)

      - if params[:action] == 'index'

        %h5
          = link_to playlist.profile.nickname, profile_path(playlist.profile)

      %h5.text-muted
        = playlist.playlist_tracks.count
        tracks
