%tr
  %td.text-white.playlist_track{ id: "track_#{track.track_id}", class: ('dark' if playing_now?(track.track_id)) }
    .media.align-items-center
      .mr-2.list-play-btn-cover-wrap
        = render 'shared/player/list_play_btn', track_id: track.track_id
        - if track.album_id.present?
          = image_tag track.cover, class: 'img-xs'
        - else
          = image_tag track.image, class: 'rounded-circle img-xs'
      .media-body.d-flex.justify-content-between.align-items-center
        #playlist-track-data
          %h6.mb-0
            %strong
              = track.title
          .small.mb-0
            = link_to track.artist_name, artist_path(artist_name: track.artist_name)
          - if track.album_id.present?
            .small
              = link_to track.album_title, artists_album_path(artist_name: track.artist_name, album_title: track.album_title), class: 'text-muted'
        #playlist-track-options
          = render 'profiles/playlists/track/dropdown', track: track

    .youtube-iframe.d-none
      = render 'shared/tracks/youtube_iframe'
