.card
	.card-body
		= render 'partials/profiles/library/artists/panel_header'

		.row
			.col-12.col-sm-4.col-md-3.text-center
				= render 'partials/profiles/library/artists/info'
			.col-12.col-sm-8.col-md-9
				%h5
					= "Tracks (#{@artist.tracks_count}):"

				.separator.default.my-2

				- if @tracks.any?
					%table.table.table-hover.table-sm
						= render partial: 'partials/profiles/library/instances/artist/track', collection:  @tracks
					.text-right
						= link_to 'View more...', profiles_library_artists_tracks_path, class: 'btn btn-primary btn-sm'
				- else
					There are no tracks.
						
				%hr.my-3

				%h5
					= "Albums (#{@artist.albums_count}):"

				.separator.default.my-2

				- if @albums.any?
					.row
						- @albums.each do |album|
							.col-4.mb-2
								= render 'partials/profiles/library/instances/artist/album', album: album
					.text-right
						= link_to 'View more...', profiles_library_artists_albums_path, class: 'btn btn-primary btn-sm'
				- else
					There are no albums.

				%hr.my-3

				%h5
					= "Plays (#{@artist.plays_count}):"

				.separator.default.my-2

				- if @plays.any?
					%table.table.table-hover.table-sm
						= render partial: 'partials/profiles/library/instances/artist/play', collection: @plays
					.text-right
						= link_to 'View more...', profiles_library_artists_plays_path, class: 'btn btn-primary btn-sm'
				- else
					There are no plays.
