.message_modal#message_modal#profile_page_modal.modal.fade
  .modal-dialog
    .modal-content

      .modal-header

        %h4
          New message to
          = @profile.nickname

      .modal-body

        = form_for current_profile.messages.new, url: new_conversations_message_path, remote: true do |f|

          = hidden_field_tag :to, @profile.nickname
          .mg_btm_10
            = f.text_area :content, placeholder: 'Enter message', class: 'form-control'

          .text-right
            = f.submit 'Send', class: 'btn btn-primary'
