%tr
  %td.search_entry

    .media-left.mid_align

      .playlist_add_button
        = button_to playlist_add_profile_album_path(profile_album_id: album.id, album_id: album.album_id), class: 'btn btn-sm btn-primary playlist_add_btn', method: :post, remote: true do
          %i.fas.fa-angle-double-left

      = image_tag album.album_cover, class: 'img_50'

    .media-body.mid_align

      %h4
        = link_to album.title, library_artist_album_path(id: current_profile.id, name: album.artist_name, title: album.album_title)
      %h5.mg_btm_5
        = link_to album.name, library_artist_path(id: current_profile.id, name: album.artist_name)

      = button_to playlist_search_album_tracks_path(profile_album_id: album.id), class: 'btn btn-primary btn-sm', method: :get, remote: true do
        = "Tracks (#{album.profile_tracks.count})"
        .caret

    .search_album_tracks.mg_top_5#search_album_tracks{id: album.id}