- if taggings.any?
  %table.table.table-hover.table-sm
    - taggings.each do |tagging|
    - tagging = tagging.decorate
      %tr
        %td.media.aling-items-center
          .mr-2
            = image_tag tagging.model_image, class: 'img-sm'
          .media-body
            %h5.mb-0
              = link_to tagging.model_title, '#'
            %h6
              = link_to tagging.model_artist_name, artist_path(tagging.model_artist_name)

  - if params[:action] == 'show'
    .text-right
      = link_to 'View more...', profiles_library_taggings_tracks_path, class: 'btn btn-primary btn-sm'
  - else
    .text_center
      = pagination
- else
  %h6
    There are no taggings.
