- if params[:q].present?
  %h5
    Search results for
    %strong
      = "\"#{params[:q]}\""
    \:

  .separator.default.my-2

  %h5
    Tracks:

  .separator.default.my-2

  - if @tracks.any?
    %table.table.table-hover.table-sm
      - @tracks.each do |track|
        = render 'track', track: track.decorate
    %nav
      %ul.pagination
        - if params[:page].to_i > 1
          %li.page-item
            = link_to_prev_page @tracks, '< Prev', class: 'page-link'
        - if @tracks.length == 20
          %li.page-item
            = link_to_next_page @tracks, 'Next >', class: 'page-link'
  - else
    %h6
      Nothing was found.
