.card
  .card-body
    %h4
      %i.fas.fa-dot-circle.mr-1
      Releases

    .separator.my-3

    %h5
      New releases:

    .separator.default.my-2

    .row
      - @new_releases_paginated.map do |album|
        .col-6.col-sm-4.col-xl-3
          .text-center.mb-4
            = link_to artists_album_path(artist_name: album.dig(:artist, :name), album_title: album[:title]) do
              .mb-1
                = image_tag album[:cover], class: 'img-fluid'
              %h5.mb-0
                %strong
                  = album[:title]
            %h6.mb-1
              = link_to artist_path(artist_name: album.dig(:artist, :name)) do
                = album.dig(:artist, :name)
            .small
              = album[:release_date].to_time.strftime('%e %b %Y')

    %nav
      %ul.pagination
        - if params[:page].to_i > 1
          %li.page-item
            = link_to_prev_page @new_releases_paginated, '< Prev', class: 'page-link'
        - if @new_releases_paginated.length == 20
          %li.page-item
            = link_to_next_page @new_releases_paginated, 'Next >', class: 'page-link'


