%tr.playlist_track#playlist_track{id: track.id}
  %td
    .media-left.mid_align

      - if track.profile_album_id.present?
        = image_tag track.album.album_cover, class: 'img_50'
      - else
        = image_tag track.artist.artist_image, class: 'img_rnd img_50'

    .media-body.mid_align

      .inline.mid_align
        %h4
          = link_to track.track.title, library_artist_track_path(name: track.artist.name, title: track.track.track_title)
        %h5
          = link_to track.artist.name, library_artist_path(name: track.artist.name)
        - if track.profile_album_id.present?
          %h5
            = link_to track.album.title, library_artist_album_path(name: track.artist.name, title: track.album.title)

      .pull-right.btn-group
        = button_tag method: :delete, onclick: "deleteTrack(#{track.id})", class: 'btn btn-primary btn-sm', remote: true do
          = fa_icon 'times'
          Delete

        %button.btn.btn-primary.btn-sm.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}}
          .caret 
        %ul.dropdown-menu.dropdown-menu-right
          %li
            = button_to playlist_delete_artist_path(playlist_artist_id: track.profile_artist_id), method: :delete, class: 'inv_btn', remote: true do
              Delete artist

:javascript
  function deleteTrack(track_id) {
    $.ajax({
      method: 'DELETE',
      url: "#{params[:playlist_name]}/tracks/" + track_id,
      data: {}
    })
  }