#playlists_page.panel.panel_570.center
  .panel_header
    %h3.inline
      = @title
    - if current_profile?(@profile)
      .inline.pull-right
        = button_tag class: 'btn btn-primary btn-sm inline', method: :get, remote: true, id: 'add_playlist_btn', onclick: 'openPlaylistPanel();' do
          = fa_icon 'plus'
          Add playlist

  .separator.sep_0.sep_light

  #profile_playlists_content.panel_content

    #add_playlist_panel.panel_content_right
      .panel_header_sm

        .pull-right
          = button_tag id: 'close_playlist_form', class: 'btn btn-sm inv_btn', onclick: 'closePlaylistPanel();' do
            Close
            = fa_icon 'times'

        %h4 Add playlist:

      .separator.sep_10.sep_default

      #playlist_flash_msgs

      #new_playlist_form
        = form_for Playlist.new, remote: true do |f|
          .mg_btm_10
            = f.text_field :name, placeholder: 'Enter playlist name:', class: 'input_transp'

          .pull-right
            = f.submit 'Create playlist', class: 'btn btn-primary'

    #profile_playlists
      = render 'playlists'
