#playlists_page.panel.panel_570.center

  .panel_header

    %h3.inline
      = fa_icon 'list'
      = @playlist.name

    - if current_profile?(@profile)

      .pull-right#playlist_page_btn_group
        = button_tag class: 'btn btn-primary btn-sm inline', method: :get, remote: true, id: 'add_tracks_btn', onclick: 'openPlaylistSearch();' do
          = fa_icon 'plus'
          Add tracks

        = link_to edit_playlist_path, class: 'btn btn-primary btn-sm inline', id: 'edit_playlist_btn' do
          = fa_icon 'pencil'
          Edit

  .separator.sep_0.sep_light

  #playlist_tracks_content.panel_content

    #track_search_panel.panel_content_right

      .mg_btm_10.pull-right
        = button_tag id: 'close_search', class: 'inv_btn', onclick: 'closePlaylistSearch();' do
          Close
          = fa_icon 'times'

      %h4 Add tracks:

      .separator.sep_10.sep_default

      .mg_btm_10
        = form_tag playlist_search_path, method: :get, remote: true do
          = text_field_tag :q, nil, class: 'input_transp', placeholder: 'Enter track, artist or album...'
          = submit_tag 'Search', name: nil, style: 'display: none'

      #playlist_search_results

    #playlist_tracks.playlist_tracks_wide
      = render 'tracks'
