.dropdown.inline

  .btn.dropdown_btn.dropdown-toggle{data: {toggle: 'dropdown'}}

    = render 'library/scope/label', default_scope: @profile.top_tracks_scope

  .dropdown-menu.dropdown-menu-right

    = button_to '1 week', library_tracks_path(order: params[:order], page: params[:page], scope: 7), method: :get, remote: true
    = button_to '1 month', library_tracks_path(order: params[:order], page: params[:page], scope: 30), method: :get, remote: true
    = button_to '3 months', library_tracks_path(order: params[:order], page: params[:page], scope: 90), method: :get, remote: true
    = button_to '6 months', library_tracks_path(order: params[:order], page: params[:page], scope: 180), method: :get, remote: true
    = button_to '1 year', library_tracks_path(order: params[:order], page: params[:page], scope: 365), method: :get, remote: true
    = button_to 'All time', library_tracks_path(order: params[:order], page: params[:page], scope: 0), method: :get, remote: true

- if current_profile?(@profile)

  #top_tracks_default_scope.inline

    - if params[:scope] && params[:scope].to_i != @profile.top_tracks_scope

      = button_to library_default_scope_path(collection: 'tracks', scope: params[:scope]), method: :patch, remote: true, class: 'btn btn-sm btn-primary' do
        = fa_icon 'floppy-o'
        Save

    - if params[:action] == 'library_default_scope'

      = button_tag class: 'btn btn-sm btn-primary disabled' do
        = fa_icon 'check'
        Saved
