.card
  .card-body
    = render 'partials/profiles/library/artists/tracks/panel_header'

    %h5
      = "Albums (#{@track.profile_album_ids.length}):"

    .separator.default.my-2

    - if @albums.any?
      .row
        - @albums.each do |album|
          .col-3
            = render 'partials/profiles/library/instances/artist/album', album: album
      .text-right
        = link_to 'View more...', profiles_library_artists_tracks_albums_path, class: 'btn btn-primary btn-sm'
    - else
      There are no albums.

    %hr.my-3

    %h5
      = "Plays (#{@track.plays_count}):"

    .separator.default.my-2

    - if @plays.any?
      %table.table.table-hover.table-sm
        = render partial: 'partials/profiles/library/instances/artist/play', collection: @plays
      .text-right
        = link_to 'View more...', profiles_library_artists_tracks_plays_path, class: 'btn btn-primary btn-sm'
    - else
      There are no plays.
