- if %i[artist_name tag_name days].any? { |q| params[q].present? }
  .d-flex.align-items-center
    - if params[:artist_name].present?
      .mr-4
        - if @artist.present?
          .media.align-items-center
            .mr-2
              = image_tag @artist.image, class: 'img-xs rounded-circle'
            .media-body
              %h5.mb-0
                = link_to @artist.name, artist_path(@artist.name)
        - else
          %h5.mb-0
            %i.fas.fa-question
            = params[:artist_name]

    - if params[:tag_name].present?
      %h5.mr-4.mb-0
        %i.fas.fa-tag
        = link_to params[:tag_name], tag_path(params[:tag_name])

    - if params[:days].present?
      %h5.mb-0
        %i.far.fa-calendar
        = pluralize(params[:days], 'day')

  %hr.my-3
