%hr.my-2.d-lg-none

%h6
  Similar to:

.separator.default.mt-2.mb-1

%table.table.table-sm
  - recommendation.profile_artists(params[:days]).each do |profile_artist|
    %tr
      %td.media.align-items-center
        .mr-2
          = image_tag profile_artist.image, class: 'img-xs rounded-circle'
        .media-body
          %h6.mb-0
            = link_to profile_artist.name, profiles_library_artist_path(profile_id: current_profile.id, artist_name: profile_artist.name)
          .small.text-muted
            = pluralize(profile_artist.plays_count, 'play')

- if recommendation.profile_artist_ids.length > 5
  .text-right
    = link_to "and #{pluralize((recommendation.profile_artist_ids.length - 5), 'more artist')}...", '#'