.nav-pills.flex-column.mr-4.d-none.d-sm-block.scrollspy
  = link_to '#plays', class: 'nav-link' do
    Plays
  = link_to '#top_artists', class: 'nav-link' do
    Top artists
  = link_to '#top_tracks', class: 'nav-link' do
    Top tracks
  = link_to '#top_tags', class: 'nav-link' do
    Top tags
  = link_to '#new_tracks', class: 'nav-link' do
    New tracks
  = link_to '#new_artists', class: 'nav-link' do
    New artists
  = link_to '#tags_timeline', class: 'nav-link' do
    Tags timeline
