%hr.mt-1

%table.table.table-sm
  - @albums.decorate.each do |album|
    %tr
      %td
        .media.align-items-center
          #playlist-add-album-btn.mr-2{ id: album.album_id }
            = render 'profiles/playlists/album/add_btn', album_id: album.id, in_playlist: album.decorate.in_playlist?(@album_ids)
          .media-body.d-flex.justify-content-between.align-items-center
            .mr-2
              = image_tag album.cover, class: 'img-xs'
            .media-body.d-flex.justify-content-between.align-items-center
              #album-data
                %h6.mb-0
                  = link_to album.title, profiles_library_artists_album_path(artist_name: album.artist_name, album_title: album.title)

              #album-options
                = button_to profiles_playlists_search_show_album_tracks_path(playlist_id: params[:playlist_id], profile_album_id: album.id), class: 'tag', method: :get, remote: true do
                  %strong
                    = "Tracks (#{album.profile_track_ids.length})"
                  %i.fas.fa-caret-down

        #search-profile-album-tracks.search-tracks.ml-4{ id: album.id }
