= link_to artist_path(@artist.name) do
  .mb-2
    = image_tag @artist.image, class: 'rounded-circle img-fluid'
  %h5.mb-0
    %strong
      = @artist.name
  %h6 on muffon

%hr.my-2

%h6.mb-0
  In your library since
%h6
  %strong
    = @artist.created_at.strftime('%e %b %Y')

%hr.my-2

- if @artist.taggings.any?
  .text-center
    %h6.mb-1
      Your tags:
    - @artist.taggings.each do |tagging|
      = link_to tagging.tag.name, profiles_library_tagging_path(tag_name: tagging.tag.name), class: 'tag'
