#footer.full_width
  %h3#footer_header.mg_btm_10
    = link_to 'muffon', root_path
  #footer_links
    %h5
      = link_to 'About', about_path
    %h5
      = link_to 'Help', help_path
    %h5
      = link_to 'Contribute', contribute_path
    %h5
      = link_to 'Contact us', contact_path