#sidebar

  %table.table-sm.sidebar-menu.my-1
    %tr
      %td
        %h6.mb-0
          %i.fas.fa-search
          = form_tag search_path, id: 'sidebar-search-form', method: :get do
            = text_field_tag :q, nil, placeholder: 'Search...', id: 'sidebar-search-input', autocomplete: 'off'

  .separator.default

  #sidebar-search-results-wrap
    #sidebar-loading
      %i.fas.fa-circle-notch.fa-spin.fa-2x
    #sidebar-search-results
  %table.table-sm.table-hover.sidebar-menu.mt-1
    %tr
      %td
        = link_to profile_path(current_profile) do
          %i.fas.fa-user-circle
          Profile
    %tr
      %td#sidebar-music-submenu-header
        %h6.mb-0
          %i.fas.fa-music
          Music
          %i.fas.fa-caret-down.caret
          %i.fas.fa-caret-up.d-none.caret

  %table.table-sm.table-hover#sidebar-music-submenu
    %tr
      %td
        = link_to profiles_library_path(current_profile) do
          %i.fas.fa-headphones
          Library
    %tr
      %td
        = link_to player_path do
          %i.fas.fa-play
          Player
    %tr
      %td
        = link_to profiles_playlists_path(current_profile) do
          %i.fas.fa-list-alt
          Playlists
    %tr
      %td
        = link_to recommendations_path do
          %i.fas.fa-volume-up
          Recommendations
    %tr
      %td
        = link_to bookmarks_path do
          %i.fas.fa-bookmark
          Bookmarks

  %table.table-sm.table-hover.sidebar-menu
    %tr
      %td
        = link_to conversations_path do
          - new_conversations = current_profile.decorate.new_conversations
          - if new_conversations.any?
            #new-messages-counter
              %h6.mb-0
                = new_conversations.length
          %i.fas.fa-comments.position-relative
            - if new_conversations.any?
              %i.fas.fa-circle#new-message-circle
          Conversations
    %tr
      %td
        = link_to profiles_contacts_path(current_profile) do
          %i.fas.fa-address-book
          Contacts
    %tr
      %td
        = link_to notifications_path do
          %i.fas.fa-bell
          Notifications
    %tr
      %td
        = link_to feed_path do
          %i.fas.fa-newspaper
          Feed
    %tr
      %td
        = link_to profiles_groups_path(current_profile) do
          %i.fas.fa-users
          Groups

  %table.table-sm.table-hover#sidebar-bottom-menu
    %tr
      %td
        = link_to settings_path do
          %i.fas.fa-cog
          Settings
    %tr
      %td
        = link_to logout_path, method: :delete do
          %i.fas.fa-sign-out-alt
          Log out
