#sidebar.full_height

	.up#up_search

		= form_tag search_path, method: :get, class: 'full_height', onsubmit: 'showLoading();', remote: true do
			= text_field_tag :q, nil, placeholder: 'Search...', class: 'full_height'

	#side_up_icons

		%i.fas.fa-search{onclick: 'showSearch();'}

		.separator.sep_5.sep_light

		= link_to profile_path(current_profile) do
			%i.fas.fa-user-circle{data: {toggle: 'tooltip', placement: 'right'}, title: 'Profile'}

		= link_to profiles_library_path(current_profile), data: {toggle: 'tooltip', placement: 'right'}, title: 'Library' do
			%i.fas.fa-music

		= link_to conversations_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Conversations' do
			.side_icon
				%i.fas.fa-comments
				- if current_profile.new_messages.present?
					.new_square
						.new_square_text
							= current_profile.new_messages.length

		= link_to profiles_contacts_path(current_profile), data: {toggle: 'tooltip', placement: 'right'}, title: 'Contacts' do
			%i.fas.fa-address-book

		= link_to notifications_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Notifications' do
			.side_icon
				%i.fas.fa-bell
				-# .new_square.text_center
				-# 	.new_square_text

		= link_to feed_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Feed' do
			%i.fas.fa-newspaper

		#side_up_down_icons

			= link_to profiles_groups_path(current_profile), data: {toggle: 'tooltip', placement: 'right'}, title: 'Groups' do
				%i.fas.fa-users

			= link_to player_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Player' do
				%i.fas.fa-play

			= link_to profiles_playlists_path(current_profile), data: {toggle: 'tooltip', placement: 'right'}, title: 'Playlists' do
				%i.fas.fa-list-alt

			= link_to recommendations_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Recommendations' do
				%i.fas.fa-volume-up

			= link_to bookmarks_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Bookmarks' do
				%i.fas.fa-bookmark

		%i.fas.fa-angle-down#iconBtn{onclick: 'toggleIcons();'}


	#side_down_icons.absolute

		= link_to settings_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Settings' do
			%i.fas.fa-cog

		= link_to logout_path, method: :delete, data: {toggle: 'tooltip', placement: 'right'}, title: 'Log out' do
			%i.fas.fa-sign-out-alt
