#sidebar{data: {turbolinks: {permanent: true}}}
	#side_up_icons
		= link_to (fa_icon 'home'), root_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Home'
		= link_to (fa_icon 'user'), current_profile, data: {toggle: 'tooltip', placement: 'right'}, title: 'Profile' 
		= link_to (fa_icon 'music'), library_path(current_profile), data: {toggle: 'tooltip', placement: 'right'}, title: 'Library'
		= link_to (fa_icon 'comments'), '#', data: {toggle: 'tooltip', placement: 'right'}, title: 'Messages'
		= link_to (fa_icon 'bell'), '#', data: {toggle: 'tooltip', placement: 'right'}, title: 'Notifications'
		= link_to (fa_icon 'newspaper-o'), '#', data: {toggle: 'tooltip', placement: 'right'}, title: 'Feed'
		#side_up_down_icons{hidden: true}
			= link_to (fa_icon 'users'), profiles_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Profiles'
			= link_to (fa_icon 'play'), '#', data: {toggle: 'tooltip', placement: 'right'}, title: 'Music player'
			= link_to (fa_icon 'list'), profile_playlists_path(current_profile), data: {toggle: 'tooltip', placement: 'right'}, title: 'Playlists'
			= link_to (fa_icon 'volume-up'), recommendations_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Recommendations'
			= link_to (fa_icon 'bookmark'), bookmarks_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Bookmarks'
			= link_to (fa_icon 'search'), '#', data: {toggle: 'tooltip', placement: 'right'}, title: 'Search'
		= fa_icon 'angle-down', onClick: 'toggleIcons();', id: 'iconBtn'
	#side_down_icons
		= link_to (fa_icon 'cog'), settings_path, data: {toggle: 'tooltip', placement: 'right'}, title: 'Settings'
		= link_to (fa_icon 'sign-out'), logout_path, method: :delete, data: {toggle: 'tooltip', placement: 'right'}, title: 'Log out'

:javascript
	function toggleIcons(){
		$('#side_up_down_icons').toggle();
		$('#iconBtn').toggleClass('rotated');
	}