#sidebar
	#side_up_icons
		= link_to (fa_icon 'home'), root_path
		= link_to (fa_icon 'user'), current_profile
		= link_to (fa_icon 'music'), library_path(current_profile)
		= link_to (fa_icon 'volume-up'), recommendations_path
	#side_down_icons
		= link_to (fa_icon 'cog'), settings_path
		= link_to (fa_icon 'sign-out'), logout_path, method: :delete