#upbar
	.up#logo= link_to 'muffon', root_path

	- if params[:action] == 'library'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), @profile
			#up_link= link_to "#{@profile.nickname}'s library", library_path(@profile)

	- if params[:action] == 'artists'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), @profile
			#up_link= link_to "#{@profile.nickname}'s library", library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)

	- if params[:action] == 'artist'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)
		.up#up_artist
			= image_tag (@artist.artist.image)
			= link_to "#{@artist.artist.name}", library_artist_path(@profile)

	- if params[:action] == 'artist_albums'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)
		.up#up_artist
			= image_tag (@artist.artist.image)
			= link_to "#{@artist.artist.name}", library_artist_path(@profile)
		.up#up_artist_albums= link_to 'albums', library_artist_albums_path(@profile)

	- if params[:action] == 'artist_plays'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)
		.up#up_artist
			= image_tag (@artist.artist.image)
			= link_to "#{@artist.artist.name}", library_artist_path(@profile)
		.up#up_artist_plays= link_to 'plays', library_artist_plays_path(@profile)

	- if params[:action] == 'artist_tracks'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)
		.up#up_artist
			= image_tag @artist.artist.image
			= link_to "#{@artist.artist.name}", library_artist_path(@profile, artist_id: @artist.id)
		.up#up_tracks
			= link_to 'tracks', library_artist_tracks_path(@profile)

	- if params[:action] == 'albums' && params[:controller] == 'profiles'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), @profile
			#up_link= link_to "#{@profile.nickname}'s library", library_path(@profile)
		.up#up_albums= link_to 'albums', library_albums_path(@profile)

	- if params[:action] == 'album'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)
		.up#up_artist
			= image_tag @album.album.artist.image
			= link_to "#{@album.album.artist.name}", library_artist_path(@profile, artist_id: @album.profile_artist_id)
		.up#up_artist_albums= link_to 'albums', library_artist_albums_path(id: @profile, artist_id: @album.profile_artist_id)
		.up#up_album
			= image_tag @album.album.cover
			= link_to "#{@album.album.title}", library_album_path(@profile)

	- if params[:action] == 'album_plays'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), library_path(@profile)
		.up#up_artists= link_to 'artists', library_artists_path(@profile)
		.up#up_artist
			= image_tag @album.album.artist.image
			= link_to "#{@album.album.artist.name}", library_artist_path(@profile, artist_id: @album.profile_artist_id)
		.up#up_artist_albums= link_to 'albums', library_artist_albums_path(id: @profile, artist_id: @album.profile_artist_id)
		.up#up_album
			= image_tag @album.album.cover
			= link_to "#{@album.album.title}", library_album_path(@profile)
		.up#up_album_plays= link_to 'plays', library_album_plays_path(id: @profile, album_id: @album.id)

	- if params[:action] == 'tracks' && params[:controller] == 'profiles'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), @profile
			#up_link= link_to "#{@profile.nickname}'s library", library_path(@profile)
		.up#up_tracks= link_to 'tracks', library_tracks_path(@profile)

	- if params[:action] == 'plays'
		.up#up_library
			= link_to image_tag(@profile.avatar.url(:md)), @profile
			#up_link= link_to "#{@profile.nickname}'s library", library_path(@profile)
		.up#up_tracks= link_to 'plays', library_plays_path(@profile)

	- if params[:action] == 'recommendations'
		.up#up_library
			= link_to 'Recommendations', recommendations_path