!!!
%html.position-relative
  %head
    %title
      = page_title
    = favicon_link_tag
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'https://use.fontawesome.com/releases/v5.0.6/css/all.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = action_cable_meta_tag

  %body

    #loading.position-fixed.w-100.h-100.top-0.z-100
      .d-flex.align-items-center.justify-content-center.w-100.h-100
        %i.fas.fa-circle-notch.fa-spin.fa-2x.position-fixed

    - unless start_page?

      #upbar-wrap
        = render 'layouts/upbar'

    - if logged_in?

      = render 'layouts/sidebar'
      = render 'layouts/player/playing_now_panel'

    .container-fluid.py-5.position-relative.h-100
      = render 'layouts/scroll_top_btn'
      .row.no-gutters
        .main-wrap
          = yield

    - if logged_in?
      .container-fluid.fixed-bottom.z-750
        .row.no-gutters
          .main-wrap
            = render 'layouts/progress_bar'

    #playlists-modal-wrap
    #message-modal-wrap

    - if logged_in?
      .container-fluid.fixed-bottom.z-750
        = render 'layouts/player/player_panel'

    = render 'layouts/footer'
