!!! XML
!!!
%html
	%head
		%title= "muffon | #{@title}"
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		= render 'layouts/upbar'
		= render 'layouts/sidebar' if logged_in?
		.container-fluid= yield