!!!
%html
	%head
		%title= "muffon | #{@title}"
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Open Sans'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= action_cable_meta_tag

	%body
		#loading{hidden: true}
			= fa_icon 'circle-o-notch spin 2x'
		#upbar
			= render "layouts/upbar/#{params[:controller]}"
		- if logged_in?
			= render 'layouts/sidebar'
			= render 'player/playing_now'
		.container-fluid
			= render 'layouts/scroll_top_btn'
			= render 'layouts/progress_bar' if logged_in?
			= yield
		= render 'player/player'
		= render 'layouts/footer'
