!!! XML
!!!
%html
	%head
		%title= "muffon | #{@title}"
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Noto Sans'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= action_cable_meta_tag
	%body
		= render 'layouts/upbar'
		= render 'layouts/sidebar' if logged_in?
		= render 'layouts/progress_bar' if logged_in?
		.container-fluid= yield
		-# = render 'layouts/player'

:javascript
	$(function () {
		$('[data-toggle="tooltip"]').tooltip({
			trigger: 'hover'
		})
	})