!!!
%html
  %head
    %title
      = page_title
    = favicon_link_tag
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'https://use.fontawesome.com/releases/v5.0.6/css/all.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = action_cable_meta_tag

  %body

    #loading
      #loading-inner
        %i.fas.fa-circle-notch.fa-spin.fa-2x

    - unless start_page?

      #upbar-wrap
        = render 'layouts/upbar'

    - if logged_in?

      = render 'layouts/sidebar'
      = render 'layouts/player/playing_now_panel'

    #main-container
      = render 'layouts/scroll_top_btn'
      .row.no-gutters
        .main-wrap
          = yield

    - if logged_in?
      = render 'layouts/progress_bar'

    #playlists-modal-wrap
    #new-message-modal-wrap

    - if logged_in?
      = render 'layouts/player/player_panel'

    = render 'layouts/footer'
