!!!
%html.position-relative
  %head
    %title
      = page_title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'https://use.fontawesome.com/releases/v5.0.6/css/all.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = action_cable_meta_tag

  %body

    #loading.position-fixed.w-100.h-100.top-0
      .d-flex.align-items-center.justify-content-center.w-100.h-100
        %i.fas.fa-circle-notch.fa-spin.fa-2x.position-fixed

    - unless start_page?

      = render 'partials/upbar'

    - if logged_in?

      = render 'partials/sidebar'
      = render 'partials/player/playing_now'

    .container-fluid.mt-5.pb-5.position-relative.h-100
      = render 'partials/scroll_top_btn'
      .row.no-gutters
        .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
          = yield
    = render 'partials/progress_bar' if logged_in?

    #playlists_modal_wrap
    #message_modal_wrap

    = render 'partials/player/player'
    = render 'partials/footer'
