!!!
%html
	%head
		%title= "muffon | #{@title}"
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Noto Sans'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= action_cable_meta_tag

	%body
		#loading{hidden: true}
			= fa_icon 'circle-o-notch spin 2x'
		#upbar
			= render "layouts/upbar/#{params[:controller]}" unless params[:controller] == 'sessions'
		- if logged_in?
			= render 'layouts/sidebar'
			= render 'player/playing_now'
		.container-fluid
			= render 'layouts/progress_bar'
			%canvas#canvas{data: {turbolinks: {permanent: true}}}
			= yield
		= render 'player/player'
		= render 'layouts/footer'

:javascript
	$(function() {
	  $('[data-toggle="tooltip"]').tooltip({
	    trigger: 'hover'
	  })
	});
